nav {
    z-index: 999
}

.cls-1 {
    fill: inherit;
}

.bg-white {
    transition: background-color 300ms linear;
    color: black !important;
    fill: url(#logo-gradient) !important;
}

.bg-none {
    transition: background-color 300ms linear;
    color: white !important;
    fill: white !important;
}

.active {
    color: white !important;
    border-radius: 36px;
    background: linear-gradient(90deg, #ea00fb, #211fff)
}