nav {
    z-index: 999
}

.cls-1 {
    fill: inherit;
}

.bg-white {
    transition: background-color 300ms linear;
    color: black !important;
    fill: url(#logo-gradient) !important;
}

.bg-none {
    transition: background-color 300ms linear;
    color: white !important;
    fill: white !important;
}

.btn-cta {
    background: linear-gradient(90deg, #FFA200, #FF004E);
    border: none !important;
    border-radius: 36px;
    color: white !important;
}

.active {
    border-radius: 36px;
    color: white !important;
    background: linear-gradient(90deg, #9A00FF, #FF004E);
}

@media (min-width: 992px) {
    .active {
        text-decoration: underline white solid;
        background: none;
    }
    nav {
        font-size: 1.4em !important;
    }

    #Logo_White {
        height: 45px !important;
    }
}