<!-- Header  -->
<app-new-home-header></app-new-home-header>
<!-- End header -->

<div class="container-fluid p-0">

	<!-- Title section -->
	<div class="row no-gutters p-relative">

		<!-- SVG Background -->
		<div class="col-12 p-absolute top-left overflow-hidden">
			<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="920" preserveAspectRatio="none"
				viewBox="0 0 375.75 920">
				<defs>
					<linearGradient id="Naamloos_verloop_10" x1="1.29" y1="1000.17" x2="2.13" y2="1000.97"
						gradientTransform="matrix(375.75, 0, 0, -873.08, -172.38, 874032.72)"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#5300fb" />
						<stop offset="1" stop-color="#ea00fb" />
					</linearGradient>
					<linearGradient id="Naamloos_verloop_2" x1="1.69" y1="1000.99" x2="1.69" y2="999.94"
						gradientTransform="matrix(316.47, 0, 0, -547.83, -53.86, 548624.91)"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#ffd711" stop-opacity="0" />
						<stop offset="0.5" stop-color="#ff4e03" stop-opacity="0.5" />
						<stop offset="1" stop-color="#ffd711" stop-opacity="0" />
					</linearGradient>
				</defs>
				<g id="background">
					<path id="Path_1782" data-name="Path 1782"
						d="M638.62,824.26,638.45,247l-.06-171.8-375.12,0-.37,919.94s38.32,2.49,80.59-43.43c24.79-26.93,51.47-61,109.09-74.1s82.2,22.53,128.72,31.91,57.35,5.63,57.35,5.63Z"
						transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_10)" />
					<path id="Path_1783" data-name="Path 1783"
						d="M567.19,512.79c-68.93,107.43-281.93,32.94-239.5,115.77,32.73,63.91,186.92,155.7,310.93,195.7L638.45,247C609.65,320.55,619.17,431.76,567.19,512.79Z"
						transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_2)" />
				</g>
			</svg>
		</div>
		<!-- End SVG background -->

		<!-- Title content -->
		<div class="px-3 header-padding w no-gutters">
			<div class="col-12 title-col">
				<h1 class="ft-alata text-center title m-0">
					€ 1,- per ticket. <br>
					Altijd. Overal
				</h1>
			</div>
			<div class="col-12 section">
				<p class="m-0">Hou meer geld over aan de kaartverkoop van je evenement met de scherpe servicekosten van
					Tickevents. Zo kan je meer, vaker en grotere evenementen organiseren.</p>
			</div>
			<div class="col-12 section">
				<button routerLink="/getstarted" class="button btn-cta w-100 text-center ft-alata">Aan de
					slag</button>
			</div>
			<div class="col-12 button-section">
				<button routerLink="/pricing"
					class="button btn-seondairy-cta w-100 text-center ft-alata">Prijzen</button>
			</div>
			<div class="col-12 section">
				<div class="row no-gutters justify-content-center">
					<div class="col-auto">
						<img src="../../assets/jumping_people.svg" width="100%">
					</div>
				</div>
			</div>
		</div>
		<!-- End Title content -->

	</div>
	<!-- Title section -->

	<!-- Wij zijn Tickevents section -->
	<div class="wij-zijn-section row no-gutters px-3 align-content-center">
		<div class="col-12 ft-alata">
			<h1 class="section-header">Wij zijn</h1>
			<h1 class="section-header purple">Tickevents</h1>
			<p class="ft-montserrat">Een online ticketingplatform waarmee we jouw evenement tot het volgende niveau
				tillendoor bizar scherpe
				servicekosten te combineren met een waanzinnige klantervaring.</p>
		</div>
	</div>
	<!-- End Wij zijn Tickevents section -->


	<!-- Jumping man section -->
	<div class="jumping-man-section row no-gutters mt-5">
		<div class="col-12 overflow-hidden">
			<img src="../../assets/new-start-jumping-man-mobile-01.svg" class="w-100 box-shadow">
		</div>
		<div class="col-12 ft-alata px-3 mt-5">
			<h1 class="section-header m-0">Minder servicekosten</h1>
			<h1 class="section-header m-0 purple mt-4px">Meer winst</h1>
			<p class="ft-montserrat mt-4px">Met onze scherpe servicekosten haal jij meer winst uit jouw kaartverkoop.
				Wij vragen maar € 1,- servicekosten per verkocht ticket, zodat jij meer geld over hebt voor dat waar jij
				van houdt: meer evenementen organiseren.</p>
		</div>
	</div>
	<!-- End jumping man section -->


	<!-- Cards section -->
	<div class="row w no-gutters px-3 cards-section justify-content-center mt-5">
		<div class="col-6 card-wrapper order-1 ">
			<div class="card p-relative box-shadow">
				<svg class="p-absolute" id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" preserveAspectRatio="none"
					viewBox="0 0 165 250">
					<defs>
						<linearGradient id="Naamloos_verloop_3" x1="-388.42" y1="540.97" x2="-388.42" y2="539.96"
							gradientTransform="matrix(162.73, 0, 0, -248, 63287.76, 134160.99)"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#5b36f8" />
							<stop offset="1" stop-color="#2e1b7c" />
						</linearGradient>
						<linearGradient id="Naamloos_verloop_11" x1="86.51" y1="249.99" x2="86.51" y2="41.44"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#221559" />
							<stop offset="1" stop-color="#442ab1" />
						</linearGradient>
					</defs>
					<title>new-start-card-background</title>
					<path id="Path_1664-2" data-name="Path 1664-2"
						d="M12.44,0H152.56A12.53,12.53,0,0,1,165,12.6V237.4A12.53,12.53,0,0,1,152.56,250H12.44A12.53,12.53,0,0,1,0,237.4V12.6A12.53,12.53,0,0,1,12.44,0Z"
						style="fill:url(#Naamloos_verloop_3)" />
					<path
						d="M121,148.57C90.92,194,51.08,228.17,8,249.16a12.67,12.67,0,0,0,4.38.83H152.56A12.5,12.5,0,0,0,165,237.43v-196C158.2,77.74,143.63,114.4,121,148.57Z"
						style="fill:url(#Naamloos_verloop_11)" />
				</svg>
				<div class="row">
					<div class="col-12">
						<h1 class="card-header ft-alata text-center">Goedkoop</h1>
					</div>
				</div>
				<div class="row h-100 align-content-center">
					<div class="col-12">
						<p class="card-text text-center">Met onze scherpe servicekosten van €1,- houdt je de prijs van
							je tickets laag,
							en heb
							je onder de streep meer te besteden.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 card-wrapper order-2">
			<div class="card p-relative box-shadow">
				<svg class="p-absolute" id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" preserveAspectRatio="none"
					viewBox="0 0 165 250">
					<defs>
						<linearGradient id="Naamloos_verloop_3" x1="-388.42" y1="540.97" x2="-388.42" y2="539.96"
							gradientTransform="matrix(162.73, 0, 0, -248, 63287.76, 134160.99)"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#5b36f8" />
							<stop offset="1" stop-color="#2e1b7c" />
						</linearGradient>
						<linearGradient id="Naamloos_verloop_11" x1="86.51" y1="249.99" x2="86.51" y2="41.44"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#221559" />
							<stop offset="1" stop-color="#442ab1" />
						</linearGradient>
					</defs>
					<title>new-start-card-background</title>
					<path id="Path_1664-2" data-name="Path 1664-2"
						d="M12.44,0H152.56A12.53,12.53,0,0,1,165,12.6V237.4A12.53,12.53,0,0,1,152.56,250H12.44A12.53,12.53,0,0,1,0,237.4V12.6A12.53,12.53,0,0,1,12.44,0Z"
						style="fill:url(#Naamloos_verloop_3)" />
					<path
						d="M121,148.57C90.92,194,51.08,228.17,8,249.16a12.67,12.67,0,0,0,4.38.83H152.56A12.5,12.5,0,0,0,165,237.43v-196C158.2,77.74,143.63,114.4,121,148.57Z"
						style="fill:url(#Naamloos_verloop_11)" />
				</svg>
				<div class="row">
					<div class="col-12">
						<h1 class="card-header ft-alata text-center">Persoonlijk</h1>
					</div>
				</div>
				<div class="row h-100 align-content-center">
					<div class="col-12">
						<p class="card-text text-center">Tickevents is persoonlijk. Je kan altijd contact opnemen voor
							advies of hulp
							bij het
							opzetten van je evenement</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 card-wrapper mt-5 order-3">
			<div class="card p-relative box-shadow">
				<svg class="p-absolute" id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" preserveAspectRatio="none"
					viewBox="0 0 165 250">
					<defs>
						<linearGradient id="Naamloos_verloop_3" x1="-388.42" y1="540.97" x2="-388.42" y2="539.96"
							gradientTransform="matrix(162.73, 0, 0, -248, 63287.76, 134160.99)"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#5b36f8" />
							<stop offset="1" stop-color="#2e1b7c" />
						</linearGradient>
						<linearGradient id="Naamloos_verloop_11" x1="86.51" y1="249.99" x2="86.51" y2="41.44"
							gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="#221559" />
							<stop offset="1" stop-color="#442ab1" />
						</linearGradient>
					</defs>
					<title>new-start-card-background</title>
					<path id="Path_1664-2" data-name="Path 1664-2"
						d="M12.44,0H152.56A12.53,12.53,0,0,1,165,12.6V237.4A12.53,12.53,0,0,1,152.56,250H12.44A12.53,12.53,0,0,1,0,237.4V12.6A12.53,12.53,0,0,1,12.44,0Z"
						style="fill:url(#Naamloos_verloop_3)" />
					<path
						d="M121,148.57C90.92,194,51.08,228.17,8,249.16a12.67,12.67,0,0,0,4.38.83H152.56A12.5,12.5,0,0,0,165,237.43v-196C158.2,77.74,143.63,114.4,121,148.57Z"
						style="fill:url(#Naamloos_verloop_11)" />
				</svg>
				<div class="row">
					<div class="col-12">
						<h1 class="card-header ft-alata text-center">Eenvoudig</h1>
					</div>
				</div>
				<div class="row h-100 align-content-center">
					<div class="col-12">
						<p class="card-text text-center">Met onze technische middelen, zoals de Ticketscanner en het
							Adminpanel,
							organiseer je
							gemakkelijk jouw evenement</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End cars section -->

	<!-- Success section -->
	<div class="row no-gutters mt-4 px-3 success-section">
		<div class="col-12">
			<h1 class="section-title ft-alata">
				"Tickevents gaat 100% voor <span class="purple">jouw succes</span>"
			</h1>
			<p class="mt-3">
				Tickevents is opgericht om meer te bieden dan alleen goedkope tickets. Wij willen jouw evenement tot een
				onvergetelijk succes maken. Wij willen onze kennis en krachten met jou bundelen, om je zo de
				mogelijkheden te geven jouw bezoekers het evenement van hun leven te geven.
			</p>
		</div>
		<div class="col-12">
			<img class="w-100" src="../../assets/new-start-me-mobile.png" alt="Foto Robin La Rondelle">
		</div>
		<div class="col-12">
			<h1 class="success-name text-center ft-alata m-0">Robin La Rondelle</h1>
			<p class="success-subtitle text-center purple m-0">Oprichter van Tickevents</p>
		</div>
	</div>
	<!-- End Success Section -->

	<!-- Review section -->
	<div class="row no-gutters mt-4 review-section w px-3 mt-4">
		<div class="col-12">
			<p class="review">"Tickevents heeft mij een hoop zorgen en kosten bespaard! De oprichter kwam persoonlijk
				langs om een bakje koffie te drinken en de plannen van m'n workshop bespreken, om te kijken hoe we goed
				samen kunnen werken. Op de dag van het evenement kwam hij zelfs meehelpen met scannen en ondersteunde
				hij waar nodig met de ticketverkoop."</p>
			<h4 class="reviewer-name ft-alata">Marlijn de Jager</h4>
			<h5 class="reviewer-function ft-alata">Organiseert kleine feesten in kroegen</h5>
		</div>
		<div class="col-12 text-center mt-3">
			<img src="../../assets/new-start-interviewer.svg" class="w-80">
		</div>
	</div>
	<!-- End review section -->

	<!-- Final section -->
	<div class="row no-gutters mt-5 final-section px-3">
		<div class="col-12">
			<h2 class="section-title text-center">Klaar om van jouw evenement een succes te maken? <span class="purple">Meld dan nu
					je evenement aan</span></h2>
		</div>
		<div class="col-12 mt-3">
			<button routerLink="/getstarted" class="button btn-cta w-100 text-center ft-alata">Aan de
				slag</button>
		</div>
		<div class="col-12 mt-5">
			<img src="../../assets/new-start-selfiestick.svg" alt="Selfie" class="w-100">
		</div>
	</div>
	<!-- End final section -->

	<!-- Footer -->
	<app-new-home-footer></app-new-home-footer>
	<!-- End footer -->

</div>