
/* Title screen */
.header-padding {
    padding-top: 56px !important;
}

.title-col {
    margin-top: 3.5em;
}

.title {
    font-size: 2.5em;
}

.section {
    margin-top: 2.2em;
}

.button-section {
    margin-top: 0.75em;
}

.button {
    height: 2.5em;
    color: white;
    border-radius: 1.25em;
}

.btn-cta {
    background:linear-gradient(90deg, #FFA200, #FF004E);
    border: none !important;
    font-size: 1.25em;
}

.btn-seondairy-cta {
    border: 2px solid white;
    font-size: 1.125em;
    background: rgba(0, 0, 0, 0);
}
/* End title screen */


/* Wij zijn Tickevents section */
.wij-zijn-section {
    margin-top: 150px;
}

.section-header {
    font-size: 2.75em !important;
}
/* End Wij zijn Tickevents section */


/* Jumping man section */
.jumpig-man {
    transform: scale(0.8) translateX(-300px)
}

.jumping-man-section  .section-header {
    font-size: 1.9em !important;
}

.mt-4px {
    margin-top: 4px
}
/* End jumping man section */