<div class="container-fluid p-0">
    <div class="row no-gutters p-relative">

        <!-- SVG Background -->
        <div class="col-12 p-absolute top-left overflow-hidden">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                height="873.08" preserveAspectRatio="none" viewBox="0 0 375.747 873.08">
                <defs>
                    <linearGradient id="linear-gradient" x1="0.142" y1="0.801" x2="0.955" y2="0.019"
                        gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#5300fb" />
                        <stop offset="1" stop-color="#ea00fb" />
                    </linearGradient>
                    <linearGradient id="linear-gradient-2" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#ffd711" stop-opacity="0" />
                        <stop offset="0.499" stop-color="#ff4e03" stop-opacity="0.502" />
                        <stop offset="1" stop-color="#ffd711" stop-opacity="0" />
                    </linearGradient>
                </defs>
                <g id="background" transform="translate(-320.539 -30.161)">
                    <path id="Path_1782" data-name="Path 1782"
                        d="M696.259,741.034,696.085,193.2l-.052-163.039-375.12.036-.374,873.021S358.855,905.58,401.132,862c24.787-25.551,51.466-57.857,109.085-70.323s82.2,21.381,128.722,30.288,57.347,5.339,57.347,5.339Z"
                        fill="url(#linear-gradient)" />
                    <path id="Path_1783" data-name="Path 1783"
                        d="M624.825,445.446C555.9,547.4,342.9,476.708,385.328,555.313c32.735,60.65,186.922,147.761,310.931,185.721L696.085,193.2C667.286,263.01,676.808,368.554,624.825,445.446Z"
                        fill="url(#linear-gradient-2)" />
                </g>
            </svg>
        </div>
        <!-- End SVG background -->

        <!-- Content overlay -->
        <div class="col-12">

            <app-new-home-header></app-new-home-header>

        </div>
        <!-- End content overlay -->
    </div>
</div>