<!-- Header  -->
<app-new-home-header></app-new-home-header>
<!-- End header -->

<div class="container-fluid p-0">

	<!-- Title section -->
	<div class="row no-gutters p-relative">

		<!-- SVG Background -->
		<div class="col-12 p-absolute top-left overflow-hidden">
			<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="920" preserveAspectRatio="none"
				viewBox="0 0 375.75 920">
				<defs>
					<linearGradient id="Naamloos_verloop_10" x1="1.29" y1="1000.17" x2="2.13" y2="1000.97"
						gradientTransform="matrix(375.75, 0, 0, -873.08, -172.38, 874032.72)"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#5300fb" />
						<stop offset="1" stop-color="#ea00fb" />
					</linearGradient>
					<linearGradient id="Naamloos_verloop_2" x1="1.69" y1="1000.99" x2="1.69" y2="999.94"
						gradientTransform="matrix(316.47, 0, 0, -547.83, -53.86, 548624.91)"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#ffd711" stop-opacity="0" />
						<stop offset="0.5" stop-color="#ff4e03" stop-opacity="0.5" />
						<stop offset="1" stop-color="#ffd711" stop-opacity="0" />
					</linearGradient>
				</defs>
				<g id="background">
					<path id="Path_1782" data-name="Path 1782"
						d="M638.62,824.26,638.45,247l-.06-171.8-375.12,0-.37,919.94s38.32,2.49,80.59-43.43c24.79-26.93,51.47-61,109.09-74.1s82.2,22.53,128.72,31.91,57.35,5.63,57.35,5.63Z"
						transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_10)" />
					<path id="Path_1783" data-name="Path 1783"
						d="M567.19,512.79c-68.93,107.43-281.93,32.94-239.5,115.77,32.73,63.91,186.92,155.7,310.93,195.7L638.45,247C609.65,320.55,619.17,431.76,567.19,512.79Z"
						transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_2)" />
				</g>
			</svg>
		</div>
		<!-- End SVG background -->

		<!-- Title content -->
		<div class="px-3 header-padding w no-gutters">
			<div class="col-12 title-col">
				<h1 class="ft-alata text-center title m-0">
					€ 1,- per ticket. <br>
					Altijd. Overal
				</h1>
			</div>
			<div class="col-12 section">
				<p class="m-0">Hou meer geld over aan de kaartverkoop van je evenement met de scherpe servicekosten van
					Tickevents. Zo kan je meer, vaker en grotere evenementen organiseren.</p>
			</div>
			<div class="col-12 section">
				<button routerLink="/getstarted" class="button btn-cta w-100 text-center ft-alata">Aan de
					slag</button>
			</div>
			<div class="col-12 button-section">
				<button routerLink="/pricing"
					class="button btn-seondairy-cta w-100 text-center ft-alata">Prijzen</button>
			</div>
			<div class="col-12 section">
				<div class="row no-gutters justify-content-center">
					<div class="col-auto">
						<img src="../../assets/jumping_people.svg" width="100%">
					</div>
				</div>
			</div>
		</div>
		<!-- End Title content -->

	</div>
	<!-- Title section -->

	<!-- Wij zijn Tickevents section -->
	<div class="wij-zijn-section row no-gutters px-3 align-content-center">
		<div class="col-12 ft-alata">
			<h1 class="section-header">Wij zijn</h1>
			<h1 class="section-header purple">Tickevents</h1>
			<p class="ft-montserrat">Een online ticketingplatform waarmee we jouw evenement tot het volgende niveau
				tillendoor bizar scherpe
				servicekosten te combineren met een waanzinnige klantervaring.</p>
		</div>
	</div>
	<!-- End Wij zijn Tickevents section -->


	<!-- Jumping man section -->
	<div class="jumping-man-section row no-gutters">
		<div class="col-12 overflow-hidden">
			<img src="../../assets/new-start-jumping-man.svg" class="jumpig-man">
		</div>
		<div class="col-12 ft-alata px-3">
			<h1 class="section-header m-0">Minder servicekosten</h1>
			<h1 class="section-header m-0 purple mt-4px">Meer winst</h1>
			<p class="ft-montserrat mt-4px">Met onze scherpe servicekosten haal jij meer winst uit jouw kaartverkoop.
				Wij vragen maar € 1,- servicekosten per verkocht ticket, zodat jij meer geld over hebt voor dat waar jij
				van houdt: meer evenementen organiseren.</p>
		</div>
	</div>
	<!-- End jumping man section -->


	<!-- Cards section -->
	<div class="row no-gutters cards-section p-relative">
		<div class="col-12 p-absolute">

		</div>
	</div>

	<!-- End cars section -->

</div>