.footer-section {
    background-image: url(../../../../assets/new-start-footer-background.svg);
    background-size: cover;
    margin-top: 100px !important;
}

input {
    height: 2.5em !important;
    border-radius: 1.25em !important;
    border: none !important;
}

.footer-logo {
    height: 40px;
}

.section-header {
    font-size: 1.8em;
}

.error-message {
    color: red;
    margin-top: 2em !important;
}

@media (min-width: 768px) {
    .footer-section {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
        margin-top: 100px !important;
    }

    .footer-logo {
        height: 50px;
    }

    .footer-text {
        line-height: 2em;
    }
}

@media (min-width: 1200px) {
    .footer-section {
        background-image: url(../../../../assets/new-start-footer-background-desktop.svg);
        background-size: 130% 100%;
        background-position: center;
    }

    .footer-logo {
        height: 60px;
    }
    
    .section-header {
        font-size: 2em;
    }
}