nav {
    z-index: 999;
    padding-left:0;
    padding-right: 0;
    padding-top: 30px;
}

#Logo_White{
    fill: inherit;
}

.bg-white {
    transition: background-color 300ms linear;
    color: black !important;
    fill: url(#logo-gradient) !important;
}

.bg-none {
    transition: background-color 300ms linear;
    color: white !important;
    fill: white !important;
}

.cta-button {
    background: linear-gradient(90deg, #FFA200, #FF004E);
    border: none !important;
    border-radius: 36px;
    color: white !important;
    font-size: 22.5px;
}

.active {
    text-decoration: underline solid;
    background: none;
}

.cta-button.active {
    padding-left: 16px !important;
    padding-right: 0 !important;
}

@media (min-width: 992px) {
    nav {
        font-size: 1.4em !important;
    }

    #Logo_White {
        height: 45px !important;
    }
}