h1 {
    font-weight: 800;
    font-size: 5em;
}
h3 {
    color: #9A9A9A;
}

.btn {
    height: 75px;
    font-size: 1.3em;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 1.3em;
    transition-duration: 0.2s;

    -webkit-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.16);
}

.btn:hover {
    color: white;
    background-color: black;
    transition-duration: 0.2s;
}