<div class="container">
    <div class="row no-gutters vh-100">
        <div class="col-12 align-self-center text-center">
            <img src="../../assets/page-not-found.png" alt="lonelyness" height="600px" width="auto">
            <h1 class="text-center ft-alata"><b>404</b></h1>
            <h3 class="text-center">Soms zijn we allemaal op zoek naar iets dat niet bestaat.</h3>
            <button class="btn text-center" (click)="returnHome()">Terug naar het startscherm</button>
        </div>
    </div>
</div>