<div class="d-flex flex-column h-100">
    <div class="row no-gutters">
        <div class="col-12">
            <h1 class="text-center subtitle">Geef je evenement een pakkende naam</h1>
        </div>
    </div>

    <div class="row no-gutters flex-grow-1 align-content-center">
        <div class="col-2 text-center">
            <!-- Nothing, there is nothing to return to -->
        </div>

        <div class="col-8">
            <form [formGroup]="createEventForm" class="create-event-form">
                <div class="form-row">
                    <label for="eventName">Naam evenement</label>
                    <input type="text" formControlName="eventName" id="eventName">
                    <span class="form-error"
                        *ngIf="submitted && !eventName.valid && (eventName.dirty || !eventName.touched)">Dit veld is
                        verplicht</span>
                </div>
            </form>
        </div>

        <div class="col-2 text-center my-auto">
            <app-next-button (click)="clickNext()"></app-next-button>
        </div>
    </div>
</div>