<div class="container-fluid p-0">

    <!-- Header row -->
    <div class="row mnh-100vh no-gutters header-padding bg-pricing">
        <div class="col">
            <div class="container px-4">
                <div class="row no-gutters">
                    <div class="col-12 col-md-5">
                        <div class="row h-100 align-content-center no-gutters">
                            <div class="col-12">
                                <h1 class="w">Pricing</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7"></div>
                </div>
            </div>
        </div>
    </div>

</div>