/* First section */
.bg-pricing {
    background-image: url(../../assets/bd-1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: scroll;
}

.title {
    font-weight: bolder;
    font-size: 2em;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 400;
}

.bereken {
    font-size: large;
}

input {
    border: none !important;
    border-bottom: 2px solid #092134 !important;
    border-radius: 0 !important;
    background: none !important;
    font-size: 0.8em;
}
/* End first section */
@media (min-width: 450px) {
    input {
        font-size: 1em;
    }

    .bereken {
        font-size: larger
    }

    .title {
        font-weight: bolder;
        font-size: 2.5em !important;
    }
    
    .subtitle {
        font-size: 1.35em !important;
        font-weight: 400;
    }
}
@media (min-width: 765px) {
    .first-section {
        min-height: 40vh !important;
    }

    .mnh-50vh {
        min-height: 50% !important;
    }
}