<div class="container-fluid p-0">

	<!-- Header row, 50vh on full screen, 100vh on mobile -->
	<div class="row no-gutters bg-pricing header-padding">
		<div class="container px-3 px-md-0 first-section mt-5 my-md-5">
			<div class="row no-gutters mnh-50vh">
				<div class="col-12 col-md-6">
					<div class="row h-100 no-gutters">
						<div class="col-12">
							<h1 class="w title ft-montserrat" [ngsReveal]="scrollUpTitle">1 EURO. ALTIJD. OVERAL.</h1>
							<p class="w subtitle" [ngsReveal]="scrollUpDelay">Bij Tickevents betaal je altijd 1 euro per
								ticket, zonder dat je
								onverwachte kosten op je dak krijgt. Daarom zijn onze servicekosten inclusief
								transactiekosten én BTW.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row mnh-50vh my-5 mt-md-0 no-gutters justify-content-end align-content-end">
				<div class="col-12 col-md-8">
					<h4 class="w title text-right" [ngsReveal]="scrollUpTitle"><b>Bereken je prijs</b></h4>
					<p class="text-right w fs-l bereken" [ngsReveal]="scrollUpDelay">Wil je weten hoeveel servicekosten
						jij of je klant betaald per
						ticket?</p>
					<div class="row no-gutters justify-content-center" [ngsReveal]="scrollUpDelay">
						<div class="col-5 col-sm-4 row no-gutters h-auto">
							<label for="ticket_price" class="col-3 col-sm-2 col-form-label p-0 fs-xxl"><b>€</b></label>
							<div class="col-9 col-sm-10">
								<input type="number" name="ticket_price" [formControl]="ticket_price" max="998"
									id="ticket_price" class="form-control" placeholder="Ticketprijs">
							</div>
						</div>
						<div class="col-1 mx-2 mx-sm-0">
							<h6 class="blue fs-xxl text-center"><b>X</b></h6>
						</div>
						<div class="col-5 col-sm-3">
							<input type="number" [formControl]="ticket_amount" name="ticket_amount" max="3000"
								id="ticket_amount" placeholder="Aantal Tickets" class="form-control">
						</div>
						<div class="col-12 col-sm-1">
							<h6 class="blue fs-xxl text-center"><b>=</b></h6>
						</div>
						<div class="col-12 col-sm-3">
							<h6 class="blue fs-xxl text-center"><b>€
									{{ticket_price.value == 0 || ticket_price.value == null ? 0 : ticket_price.value + 1}},-</b>
							</h6>
						</div>
					</div>
					<div class="row no-gutters justify-content-end mt-4" [ngsReveal]="scrollUpDelay">
						<div class="col-12 col-sm-6 col-lg-5 ">
							<a type="button" class="btn w-100" routerLink="/getting-started">Maak je evenement</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row no-gutters section-padding overflow-hidden">
		<div class="container px-3 px-md-0">

			<div class="row justify-content-center no-gutters mb-5" [ngsReveal]="scrollUpDelay">
				<div class="col-12">
					<h1 class="title text-center blue">Onze servicekosten</h1>
					<p class="blue text-center fs-l">Bij Tickevents bepaal je zelf wie de kosten betaald: Jij, of je
						klanten.
						Zo kan je de prijs laag houden voor je klanten óf je winst maximaliseren. We proberen altijd zo
						transparant mogelijk te zijn, daarom zijn al onze prijzen altijd inclusief BTW en
						transactiekosten.</p>
				</div>
			</div>

			<div class="row justify-content-center py-4">
				<div class="col-12 col-lg-4 price-box-left order-2 order-lg-1 " [ngsReveal]="priceboxScroll">
					<div class="price-box h-100 row no-gutters px-3 pl-lg-3 pr-lg-5">

						<div class="col-12 mt-4 mt-lg-5">
							<h1 class="price-title section-title fs-xxl text-center"><b>Gratis</b></h1>
							<p class="text-center price-subtitle fs-m">Voor gratis evenementen</p>
							<h5 class="section-title text-center mb-0">Servicekosten: €0,-</h5>
							<hr class="mt-4 mt-lg-5 mb-0">
						</div>

						<div class="col-12 align-self-center my-4 my-lg-0">
							<div class="row no-gutters h-100 align-content-center">
								<div class="col-12">
									<ol>
										<li>Fair use policy: 1 gratis ticket per 100 verkochte tickets</li>
										<li>Alleen mogelijk in combinatie met betaalde evenementen</li>
										<li>Neem contact op over de mogelijkheden</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="col-12 align-self-end">
							<hr class="m-0">
							<a type="button" class="btn w-100 my-4 my-lg-5" routerLink="/getting-started">Aan de
								slag</a>
						</div>

					</div>
				</div>

				<div class="col-12 col-lg-5 price-box-center order-1 order-lg-2" [ngsReveal]="priceboxScroll">
					<div class="price-box h-100 row no-gutters px-3 px-lg-4">

						<div class="col-12 mt-4 mt-lg-5">
							<h1 class="price-title section-title fs-xxl text-center"><b>Premium</b></h1>
							<p class="text-center price-subtitle fs-m">Voor evenementen met een toegangsprijs</p>
							<h5 class="text-center section-title service-costs mb-0">Servicekosten: €1,-</h5>
							<hr class="mt-4 mt-lg-5 mb-0">
						</div>

						<div class="col-12 align-self-center my-4 my-lg-5">
							<div class="row no-gutters h-100 align-content-center">
								<div class="col-12">
									<ol>
										<li>All Inclusive ticketprijs: BTW + iDEAL transactiekosten inbegrepen</li>
										<li>Volledige toegang tot Tickevents systeem</li>
										<li>24/7 Support</li>
										<li>Ticketscanner voor Android of iOS</li>
										<li>Support tijdens evenement</li>
										<li>Geavanceerde inzichten met het Adminpanel</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="col-12 align-self-end">
							<hr class="m-0">
							<a type="button" class="btn w-100 my-4 my-lg-5" routerLink="/getting-started">Aan de
								slag</a>
						</div>

					</div>
				</div>

				<div class="col-12 col-lg-4 price-box-right order-3" [ngsReveal]="priceboxScroll">
					<div class="price-box h-100 row no-gutters px-3 pr-lg-3 pl-lg-5">

						<div class="col-12 mt-4 mt-lg-5">
							<h1 class="price-title section-title fs-xxl text-center"><b>Grande</b></h1>
							<p class="text-center price-subtitle fs-m">5000+ tickets</p>
							<h5 class="section-title text-center mb-0">Servicekosten: Aangepast</h5>
							<hr class="mt-4 mt-lg-5 mb-0">
						</div>

						<div class="col-12 align-self-center my-4 my-lg-0">
							<div class="row no-gutters h-100 align-content-center">
								<div class="col-12">
									<ol>
										<li>Alles uit Premium</li>
										<li>Op maat gemaakte afspraken en inrichting</li>
										<li>Aangepaste servicekosten</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="col-12 align-self-end">
							<hr class="m-0">
							<a type="button" class="btn w-100 my-4 my-lg-5" routerLink="/getting-started">Aan de
								slag</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row no-gutters section-padding bg-blue w">
		<div class="container px-3 px-md-0">
			<div class="row no-gutters justify-content-between">
				<div class="col-12 col-md-5">
					<div class="row h-100 no-gutters align-content-center">
						<div class="col-12">
							<h2 class="section-title" [ngsReveal]="scrollUpTitle">Waar bestaan de servicekosten uit?
							</h2>
							<p [ngsReveal]="scrollUpDelay">Onze lage servicekosten bestaan uit de transactiekosten van
								een ticket + de
								BTW over
								het resterende bedrag. Als je de BTW terug kan vragen, kom je dus op een nóg voordeliger
								bedrag
								uit!</p>
							<br>
							<p [ngsReveal]="scrollUpDelay"> De servicekosten bestaan onder andere uit de hosting van het
								platform en het
								mogelijk maken van nieuwe technische ontwikkelingen.</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6" [ngsReveal]="scrollUpDelay">
					<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
						style="width: 100%; height: 400px; display: block;">
					</highcharts-chart>
				</div>
			</div>
		</div>
	</div>

	<div class="row no-gutters section-padding blue">
		<div class="container px-3 px-md-0">
			<div class="row no-gutters mb-0 mb-md-4">
				<div class="col-12">
					<h1 class="text-center title">Begin met winst maken in een paar stappen</h1>
					<p class="text-center">Het beginnen met Tickevents is erg simpel; je evenement is zo aangemaakt. Met
						onze 24/7 hulp staan we elk moment voor je klaar om je te ondersteunen met het aanmaken van je
						evenement.</p>
				</div>
			</div>

			<div class="row justify-content-center mb-0 mb-md-4">
				<div class="col-12 col-md-4">
					<h5 class="section-title text-center">Verkopen</h5>
					<p>Maak in een paar simpele stappen je evenement aan bij Tickevents en begin met het online verkopen
						van je tickets. Het enige wat je hoeft te doen is het delen van jouw evenement-pagina met jouw
						klanten, zodat je klanten de tickets kunnen kopen</p>
				</div>
				<div class="col-12 col-md-4">
					<h5 class="section-title text-center">Scannen</h5>
					<p>Tickevents heeft de zeer handige en innovatieve TicketScanner app ontwikkeld om jouw verkochte
						tickets snel en gemakkelijk te scannen. Ook zonder internetverbinding kan je snel en gemakkelijk
						toegang verlenen tot je evenement</p>
				</div>
				<div class="col-12 col-md-4">
					<h5 class="section-title text-center">Winst</h5>
					<p>Na de verkoop van je tickets heb je meer geld over om in de toekomst nog meer en vette
						evenementen te organiseren. Waar wacht je nog op? Begin vandaag nog met het organiseren van je
						evenement!</p>

				</div>
			</div>
			<div class="row no-gutters justify-content-center">
				<div class="col-12 col-md-8 px-5 px-sm-0">
					<img src="../../assets/sales process.svg" alt="sales process" class="w-100 h-100 d-none d-sm-block">
					<img src="../../assets/sales process vertical.svg" alt="sales process"
						class="w-100 h-100 d-block d-sm-none">
				</div>
				<div class="col-12 col-md-8">
				</div>
			</div>
		</div>
	</div>

	<div class="row no-gutters section-padding pt-0">
		<div class="container px-3 px-md-0">
			<div class="row no-gutters justify-content-center">
				<div class="col-12 col-md-8 text-center">
					<h1 class="blue text-center section-title"><b>Ook profiteren?</b></h1>
					<p class="blue text-center">Profiteer ook van onze scherpe servicekosten en begin vandaag nog met
						meer winst maken op je evenement. Meld je aan om een evenement aan te maken!</p>
					<div class="row no-gutters justify-content-center">
						<div class="col-12 col-sm-8 col-md-7 col-lg-3">
							<a type="button" class="btn w-100" routerLink="/getting-started">Aan de slag</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>