/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* First section */
.bg-pricing {
    background-image: url(../../assets/bg-concert.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: scroll;
}

.title {
    font-weight: bolder;
    font-size: 2em;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 400;
}

.bereken {
    font-size: large;
}

input {
    border: none !important;
    border-bottom: 2px solid #092134 !important;
    border-radius: 0 !important;
    background: none !important;
    font-size: 0.8em;
    color: white !important;
    font-weight: 500 !important;
}

.cta-button {
    background: none;
    background-color: #2F9494;
    color: white;
    font-weight: 500;
    font-size: 18px;
    -webkit-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    border-radius: 10px;
    height: 45px;
    padding: 8px;
    -webkit-box-shadow: 0 5px #68BBBB;
            box-shadow: 0 5px #68BBBB;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cta-button:hover {
    background-color: #217F7F;
    color: white;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.cta-button:active {
    background-color: #467261;
    -webkit-box-shadow: 0 3px #294F53;
            box-shadow: 0 3px #294F53;
    color: white;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
/* End first section */

/* Price information section */
.price-box {
    border-radius: 25px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: white;
}

.price-box:hover {
    -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.price-box-left {
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
}

.price-box-right {
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
}

.price-box-center {
    margin-left: -50px !important;
    margin-right: -50px !important;
    z-index: 2;
}

.price-box-left,
.price-box-right {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 0;
}

.bg-pink {
     background: -o-linear-gradient(330deg, #ED9696, #F0A9A9);
     background: linear-gradient(120deg, #ED9696, #F0A9A9)
}

.section-title {
    font-family: 'Alata', sans-serif !important;
    font-weight: 500;
}

.service-costs {
    font-size: 1.8em !important;
}

ol {
    counter-reset: number-counter;
    list-style: none;
    padding-left: 40px;
    margin-bottom: 0;
}

ol li {
    margin: 0 0 1.5rem 0;
    counter-increment: number-counter;
    position: relative;
    font-size: 1.1em
}

ol li:last-child {
    margin-bottom: 0;
}

ol li::before {
    content: counter(number-counter);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;

    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#EA8585), to(#ED9696));
    background: -o-linear-gradient(left, #EA8585, #ED9696);
    background: linear-gradient(90deg, #EA8585, #ED9696);
    ;
    border-radius: 50%;
    text-align: center;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0
}
/* End price information section */

/* Media Queries */
/* Base width */
@media (min-width: 450px) {
    input {
        font-size: 1em;
    }

    .bereken {
        font-size: larger
    }

    .title {
        font-weight: bolder;
        font-size: 2.5em !important;
    }
    
    .subtitle {
        font-size: 1.35em !important;
        font-weight: 400;
    }
}

/* md-breakpoint */
@media (min-width: 765px) {
    .first-section {
        min-height: 40vh !important;
    }

    .mnh-50vh {
        min-height: 50% !important;
    }
}

/* lg-breakpoint */
@media (min-with: 992px) {
    ol li {
        margin-bottom: 2rem !important;
    }


}

@media (max-width: 991px) {
    .price-box-left,
    .price-box-right {
        -webkit-animation: none;
                animation: none;
    }

    .price-box-left,
    .price-box-right,
    .price-box-center {
        opacity: 1 !important;
    }
}
/* End media queries */