<!-- Header  -->
<app-new-home-header logoColor="white"></app-new-home-header>
<!-- End header -->

<div class="container-fluid p-0">
	
	<!-- Title section -->
	<div class="row no-gutters p-relative">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">

					<!-- SVG Background -->
					<div class="col-12 p-absolute top-left overflow-hidden">
						<svg preserceAspectRatio="none" class="d-none d-md-inline d-xl-none" version="1.1" id="Laag_1"
							xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							y="0px" width="100%" height="1204.43px" preserveAspectRatio="none"
							viewBox="0 0 769.21 1204.43" enable-background="new 0 0 769.21 1204.43"
							xml:space="preserve">
							<linearGradient id="Path_1780_1_" gradientUnits="userSpaceOnUse" x1="-32.5021"
								y1="1107.8977" x2="-31.5201" y2="1107.1558"
								gradientTransform="matrix(769.2061 0 0 -1204.4331 25027.8125 1334332.875)">
								<stop offset="0" style="stop-color:#EA00FB" />
								<stop offset="1" style="stop-color:#211FFF" />
							</linearGradient>
							<path id="Path_1780" fill="url(#Path_1780_1_)" d="M0,0v734.47c0,0,128.53,2.16,192.06,114.35s254.11,94.61,254.11,94.61
							s109.48-10.81,177.06,129.76s145.98,131.11,145.98,131.11V0H0z" />
							<linearGradient id="Rectangle_2_1_" gradientUnits="userSpaceOnUse" x1="-30.9275"
								y1="1111.7688" x2="-31.9095" y2="1110.7869"
								gradientTransform="matrix(45.9619 -45.9619 -45.9619 -45.9619 53230.2344 50723.7266)">
								<stop offset="0" style="stop-color:#A607FF" />
								<stop offset="1" style="stop-color:#5400FF" />
							</linearGradient>
							<polygon id="Rectangle_2" fill="url(#Rectangle_2_1_)"
								points="663.73,1092.12 709.69,1046.16 755.66,1092.12 709.69,1138.09 " />
							<linearGradient id="Ellipse_1_1_" gradientUnits="userSpaceOnUse" x1="-34.2806"
								y1="1110.6627" x2="-34.2806" y2="1109.6627"
								gradientTransform="matrix(69 0 0 -69 2960.8594 77517.7266)">
								<stop offset="0" style="stop-color:#A206FF" />
								<stop offset="1" style="stop-color:#4F18FE" />
							</linearGradient>
							<circle id="Ellipse_1" fill="url(#Ellipse_1_1_)" cx="595.5" cy="916.5" r="34.5" />
							<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-31.8967" y1="1107.7637"
								x2="-32.3367" y2="1106.8107"
								gradientTransform="matrix(714.2894 218.3802 187.6862 -613.894 -184330.8594 687242.3125)">
								<stop offset="0" style="stop-color:#FFD711;stop-opacity:0" />
								<stop offset="0.499" style="stop-color:#FF4E03;stop-opacity:0.502" />
								<stop offset="1" style="stop-color:#FFD711;stop-opacity:0" />
							</linearGradient>
							<path fill="url(#SVGID_1_)"
								d="M522.39,89.61c-86.89,53.55-46.98,208.61-117.13,312.38s-286.97,31.82-243.78,111.83
							C204.66,593.83,455.51,719.09,578,722.03c52.47,1.26,125.19-19.12,191.2-52.35V178.47C677.01,91.34,602.86,40.02,522.39,89.61z" />
							<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-31.3965" y1="1110.0343"
								x2="-32.3785" y2="1109.0524"
								gradientTransform="matrix(90.5097 -90.5097 -90.5097 -90.5097 104039.4922 98490.2188)">
								<stop offset="0" style="stop-color:#A607FF" />
								<stop offset="1" style="stop-color:#5400FF" />
							</linearGradient>
							<polygon fill="url(#SVGID_2_)" points="769.21,1034.06 769.21,873.11 688.73,953.58 " />
						</svg>

						<svg class="d-inline d-md-none" id="Laag_1" data-name="Laag 1"
							xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
							height="920" preserveAspectRatio="none" viewBox="0 0 375.75 920">
							<defs>
								<linearGradient id="Naamloos_verloop_10" x1="1.29" y1="1000.17" x2="2.13" y2="1000.97"
									gradientTransform="matrix(375.75, 0, 0, -873.08, -172.38, 874032.72)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#5300fb" />
									<stop offset="1" stop-color="#ea00fb" />
								</linearGradient>
								<linearGradient id="Naamloos_verloop_2" x1="1.69" y1="1000.99" x2="1.69" y2="999.94"
									gradientTransform="matrix(316.47, 0, 0, -547.83, -53.86, 548624.91)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#ffd711" stop-opacity="0" />
									<stop offset="0.5" stop-color="#ff4e03" stop-opacity="0.5" />
									<stop offset="1" stop-color="#ffd711" stop-opacity="0" />
								</linearGradient>
							</defs>
							<g id="background">
								<path id="Path_1782" data-name="Path 1782"
									d="M638.62,824.26,638.45,247l-.06-171.8-375.12,0-.37,919.94s38.32,2.49,80.59-43.43c24.79-26.93,51.47-61,109.09-74.1s82.2,22.53,128.72,31.91,57.35,5.63,57.35,5.63Z"
									transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_10)" />
								<path id="Path_1783" data-name="Path 1783"
									d="M567.19,512.79c-68.93,107.43-281.93,32.94-239.5,115.77,32.73,63.91,186.92,155.7,310.93,195.7L638.45,247C609.65,320.55,619.17,431.76,567.19,512.79Z"
									transform="translate(-262.9 -75.19)" style="fill:url(#Naamloos_verloop_2)" />
							</g>
						</svg>

						<svg class="d-none d-xl-inline" id="Laag_1" data-name="Laag 1"
							xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
							height="1473.97" viewBox="0 0 1920.44 1473.97" preserveAspectRatio="none">
							<defs>
								<linearGradient id="Naamloos_verloop_6" x1="-764.35" y1="1592.09" x2="-763.35"
									y2="1591.09"
									gradientTransform="matrix(1920.44, 0, 0, -1473.97, 1468167.24, 2346477.24)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#ea00fb" />
									<stop offset="1" stop-color="#2020ff" />
								</linearGradient>
								<linearGradient id="Naamloos_verloop_3" x1="-750.37" y1="1592.99" x2="-751.35" y2="1592"
									gradientTransform="matrix(65, 0, 0, -65, 50433.29, 104692.74)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#a607ff" />
									<stop offset="1" stop-color="#5400ff" />
								</linearGradient>
								<linearGradient id="Naamloos_verloop_3-2" x1="-756.97" y1="1592.25" x2="-757.95"
									y2="1591.26" gradientTransform="matrix(128, 0, 0, -128, 98759.57, 204842.13)"
									xlink:href="#Naamloos_verloop_3" />
								<linearGradient id="Naamloos_verloop_4" x1="-756.35" y1="1601.42" x2="-756.35"
									y2="1600.42" gradientTransform="matrix(69, 0, 0, -69, 53734.64, 111477.93)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#a206ff" />
									<stop offset="1" stop-color="#4f18fe" />
								</linearGradient>
								<linearGradient id="Naamloos_verloop_5" x1="-763.14" y1="1592.2" x2="-763.58"
									y2="1591.24"
									gradientTransform="matrix(730.49, -155.36, -133.52, -627.82, 771269.44, 881178.01)"
									gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#ffd711" stop-opacity="0" />
									<stop offset="0.5" stop-color="#ff4e03" stop-opacity="0.5" />
									<stop offset="1" stop-color="#ffd711" stop-opacity="0" />
								</linearGradient>
							</defs>
							<title>new-start-title-background-desktop</title>
							<path id="Path_1-2" data-name="Path 1-2"
								d="M0,559.41c129.84,253.9,342,267.24,583.61,262.2s577-52.07,806.09,215.22c77.89,90.88,133.88,166.91,184.55,229.18,97.77,120.14,170.09,187.16,346.19,208-.6-93.22-.26-1474-.26-1474L.14,0Z"
								style="fill:url(#Naamloos_verloop_6)" />
							<rect id="Rectangle_2" data-name="Rectangle 2" x="1594.33" y="1148.68" width="65"
								height="65" transform="translate(-358.73 1496.3) rotate(-45)"
								style="fill:url(#Naamloos_verloop_3)" />
							<rect id="Rectangle_3" data-name="Rectangle 3" x="1739.38" y="1034.64" width="128"
								height="128" transform="translate(-248.66 1596.96) rotate(-45)"
								style="fill:url(#Naamloos_verloop_3-2)" />
							<circle id="Ellipse_1" data-name="Ellipse 1" cx="1546.63" cy="1014.56" r="34.5"
								style="fill:url(#Naamloos_verloop_4)" />
							<path id="Path_19" data-name="Path 19"
								d="M1172.05,102c138.31,37.42,205.94,77.54,264.3,183.71s-89.46,319.56-198,376.38S849.72,731,773.16,682s147.92-91.23,159-216-99.06-241-49-329.95S1033.73,64.56,1172.05,102Z"
								style="fill:url(#Naamloos_verloop_5)" />
						</svg>
					</div>
					<!-- End SVG background -->

					<!-- Title content -->
					<div class="row px-3 px-xl-0 header-padding title-section w no-gutters">
						<div class="col">
							<div class="row no-gutters">
								<div class="col-12 col-xl-6">
									<h1 class="ft-alata text-center text-md-left title m-0">
										€ 1,- per ticket. <br>
										Altijd. Overal
									</h1>
									<p class="m-0 section-text">Hou meer geld over aan de kaartverkoop van je evenement
										met de
										scherpe servicekosten van
										Tickevents. Zo kan je meer, vaker en grotere evenementen organiseren.</p>
									<div class="row no-gutters">
										<div class="col-12 col-md-6 mt-4 pr-md-2">
											<button routerLink="/getting-started"
												class="button cta-button w-100 text-center">Aan de
												slag</button>
										</div>
										<div class="col-12 col-md-6 button-section mt-4 pl-md-2">
											<button routerLink="/pricing"
												class="button cta-secondary-button w-100 text-center">Prijzen</button>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-6 mt-0 mt-md-5 mt-xl-0 ">
									<div class="row no-gutters h-100 align-content-center justify-content-center justify-content-md-end justify-content-xl-center">
										<div class="col-auto">
											<img src="../../assets/new-start-jumping-people.svg" class="jumping-people">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Title content -->
				</div>
			</div>
		</div>
	</div>
	<!-- Title section -->

	<!-- Wij zijn Tickevents section -->
	<div class="section wij-zijn-section row no-gutters px-3 align-content-center">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">


					<div class="col-12">
						<h1 class="section-header">Wij zijn</h1>
						<h1 class="section-header purple">Tickevents</h1>
					</div>
					<div class="col-12 col-md-11 col-xl-10">
						<p class="section-text">Een online ticketingplatform waarmee we jouw evenement tot het volgende
							niveau
							tillendoor bizar scherpe
							servicekosten te combineren met een waanzinnige klantervaring.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Wij zijn Tickevents section -->


	<!-- Jumping man section -->
	<div class="section jumping-man-section row no-gutters overflow-hidden mt-5">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">

					<div class="col-12 col-xl-6 h-100">
						<img src="../../assets/new-start-jumping-man.svg" class="d-inline d-xl-none jumping-man">
						<img src="../../assets/new-start-jumping-man-desktop.svg" class="d-none d-xl-inline h-100 jumping-man">
					</div>
					<div class="col-12 col-xl-6 px-3 mt-5 align-self-center jumping-man-text">
						<h1 class="section-header">Minder servicekosten</h1>
						<h1 class="section-header purple mt-4px">Meer winst</h1>
						<p class="section-text">Met onze scherpe servicekosten haal jij meer winst uit jouw
							kaartverkoop.
							Wij vragen maar € 1,- servicekosten per verkocht ticket, zodat jij meer geld over hebt voor
							dat waar jij
							van houdt: meer evenementen organiseren.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End jumping man section -->


	<!-- Cards section -->
	<div class="section cards-section row w no-gutters px-3 px-xl-0 justify-content-center mt-5  overflow-hidden">
		<div class="col">
			<div class="container">
				<div class="row no-gutters p-relative  justify-content-center">
					<div class="col-12 p-absolute">
						<img src="../../assets/new-start-cards-background-desktop.svg" class="cards-background d-none d-xl-inline">
					</div>

					<div class="col-6 col-md-4 card-wrapper order-1">
						
						<div class="card box-shadow p-relative">
							<img src="../../assets/new-start-card-background.svg" class="p-absolute card-background">

							<div class="row d-none d-xl-flex">
								<div class="col-12">
									<h1 class="card-number">
										01
									</h1>
								</div>
							</div>
							
							<div class="row">
								<div class="col-12">
									<h1 class="card-header ft-alata text-center">Goedkoop</h1>
								</div>
							</div>
							<div class="row h-100 align-content-center">
								<div class="col-12">
									<p class="card-text text-center">Met onze scherpe servicekosten van €1,- houdt je de
										prijs van
										je tickets laag,
										en heb
										je onder de streep meer te besteden.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 card-wrapper order-2">
						<div class="card p-relative box-shadow ">
							<img src="../../assets/new-start-card-background.svg" class="p-absolute card-background">

							<div class="row d-none d-xl-flex">
								<div class="col-12">
									<h1 class="card-number">
										02
									</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<h1 class="card-header ft-alata text-center">Persoonlijk</h1>
								</div>
							</div>
							<div class="row h-100 align-content-center">
								<div class="col-12">
									<p class="card-text text-center">Tickevents is persoonlijk. Je kan altijd contact
										opnemen voor
										advies of hulp
										bij het
										opzetten van je evenement</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 card-wrapper mt-5 mt-md-0 order-3">
						<div class="card p-relative box-shadow">
							<img src="../../assets/new-start-card-background.svg" class="p-absolute card-background">

							<div class="row d-none d-xl-flex">
								<div class="col-12">
									<h1 class="card-number">
										03
									</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<h1 class="card-header ft-alata text-center">Eenvoudig</h1>
								</div>
							</div>
							<div class="row h-100 align-content-center">
								<div class="col-12">
									<p class="card-text text-center">Met onze technische middelen, zoals de
										Ticketscanner en het
										Adminpanel,
										organiseer je
										gemakkelijk jouw evenement</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End cars section -->

	<!-- Success section -->
	<div class="section success-section row no-gutters mt-5 px-3 overflow-hidden">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">

					<div class="col-12 col-md-11 col-xl-5 order-xl-2">
						<h1 class="section-header">
							"Tickevents gaat 100% voor <span class="purple">jouw succes</span>"
						</h1>
						<p class="section-text">
							Tickevents is opgericht om meer te bieden dan alleen goedkope tickets. Wij willen jouw
							evenement tot een
							onvergetelijk succes maken. Wij willen onze kennis en krachten met jou bundelen, om je zo de
							mogelijkheden te geven jouw bezoekers het evenement van hun leven te geven.
						</p>
					</div>
					<div class="col-12 col-xl-7 mt-md-5 mt-xl-0 order-xl-1">
						<img class="w-100 d-inline d-md-none" src="../../assets/new-start-me-mobile.png"
							alt="Foto Robin La Rondelle">
						<img class="w-100 d-none d-md-inline photo-me" src="../../assets/new-start-me-tablet.png"
							alt="Foto Robin La Rondelle">
					</div>
					<div class="col-12 credentials-section order-xl-3">
						<h1 class="success-name text-center text-md-right ft-alata m-0">Robin La Rondelle</h1>
						<p class="success-subtitle text-center text-md-right purple m-0">Oprichter van Tickevents</p>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- End Success Section -->

	<!-- Review section -->
	<div class="row no-gutters mt-5 section review-section w px-3">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">

					<div class="col-12 col-md-6 order-md-2 align-self-md-center">
						<p class="section-text font-italic">"Tickevents heeft mij een hoop zorgen en kosten bespaard! De oprichter kwam
							persoonlijk
							langs om een bakje koffie te drinken en de plannen van m'n workshop bespreken, om te kijken
							hoe we goed
							samen kunnen werken. Op de dag van het evenement kwam hij zelfs meehelpen met scannen en
							ondersteunde
							hij waar nodig met de ticketverkoop."</p>
						<h4 class="reviewer-name ft-alata mt-xl-4">Marlijn de Jager</h4>
						<h5 class="reviewer-function ft-alata">Organiseert kleine feesten in kroegen</h5>
					</div>
					<div class="col-12 col-md-6 order-md-1 text-center align-self-md-center my-3 my-md-0">
						<img src="../../assets/new-start-interviewer.svg" class="w-80">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End review section -->

	<!-- Final section -->
	<div class="row no-gutters mt-5 final-section px-3">
		<div class="col">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-12 col-xl-8 order-xl-2">
						<h2 class="section-header text-center text-md-left">Klaar om van jouw evenement een succes te
							maken? <span class="purple">Meld dan nu
								je evenement aan</span></h2>
					</div>
					<div class="col-12 col-md-6 col-xl-4 ml-xl-auto mr-xl-0 order-xl-3 mt-3 mt-xl-0">
						<button routerLink="/getting-started" class="button cta-button w-100 text-center ft-alata">Aan de
							slag</button>
					</div>
					<div class="col-12 col-xl-4 order-xl-1 mt-5">
						<img src="../../assets/new-start-selfiestick.svg" alt="selfie" class="selfie">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End final section -->

	<!-- Footer -->
	<app-footer></app-footer>
	<!-- End footer -->

</div> 