/* Main page */
.title {
    font-weight: bolder;
    font-size: 2.5em;
}

.title-animation-1 {
    animation-delay: 0.1s !important;
}

.title-animation-2 {
    animation-delay: 0.25s !important;
}

.title-animation-3 {
    animation-delay: 0.4s !important;
}

.title-animation-4 {
    animation-delay: 0.55s !important;
}

.title-animation-5 {
    animation-delay: 1.0s !important;
}

.title-animation-6 {
    animation-delay: 1.15s !important;
}

.subtitle {
    font-size: 1.35em;
    font-weight: 400;
}

.content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: -105vh;
}
/* End main page */

/* Background */
.svg-header {
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.svg-divider {
    position: absolute;
    bottom: 0px;
    left: -1px;
    height: 100%;
    fill: #092134;
}
/* End main page */

/* Second page */
.tickets-img-1 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
/* End second page */

/* Quote's section */
.carousel-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.carousel-item {
    min-height: 500px;
    position: relative;
}

.quote {
    line-height: 1.6rem !important;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-caption p {
    margin: 0 !important;
}
/* End Quote's section */

/* Fourth row */
.tickets-img-2 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-right: auto;
    margin-left: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

/* End fourth Row */

/* Advantage part */
.section-title.success {
    font-weight: 300 !important;
}

.tickets-img-3 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-right: auto;
    margin-left: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Media Queries */
/* Base width */
@media (min-width: 425px) {
    .carousel-item {
        min-height: 400px;
    }
}

/* md-breakpoint */
@media (min-width: 765px) {
    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .carousel-item {
        min-height: 300px;
    }
}

/* lg-breakpoint */
@media (min-width: 1200px) {
    .title {
        font-size: 5em
    }

    .tickets-img-1,
    .tickets-img-2 {
        height: 350px !important;
        width: auto;
    }

    .tickets-img-3 {
        height: 300px !important;
        width: auto;
    }

    .carousel-item {
        min-height: 200px;
    }
}
/* End Media Queries */