
/* Main page */
.title {
    font-weight: bolder;
    font-size: 2.5em;
}

.subtitle {
    font-size: 1.35em;
    font-weight: 400;
}

.content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: -105vh;
}
/* End main page */

/* Background */
.svg-header {
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.svg-divider {
    position: absolute;
    bottom: 0px;
    left: -1px;
    height: 100%;
    fill: #092134;
}

.bg-1 {
    background: #092134;
    background: linear-gradient(270deg, #092134, #0C2C45);
}

.bg-2 {
    background: linear-gradient(90deg, #EA8585, #ED9696);
}
/* End main page */

/* Second page */
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tickets-img-1 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.section-title {
    font-family: 'Alata', sans-serif !important;
    font-weight: 500;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ol {
    counter-reset: number-counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 1rem 0;
    counter-increment: number-counter;
    position: relative;
}

ol li::before {
    content: counter(number-counter);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;

    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: linear-gradient(90deg, #EA8585, #ED9696);
    ;
    border-radius: 50%;
    text-align: center;
}

.summing-title {
    font-size: 1.5rem;
}
/* End second page */

/* Quote's section */
/* Vertically center all the carousel content */
.carousel-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* height: 100%; */
}

.carousel-item {
    min-height: 500px;
    position: relative;
}

.quote {
    line-height: 1.6rem !important;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-caption p {
    margin: 0 !important;
}
/* End Quote's section */

/* Fourth row */
.tickets-img-2 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-right: auto;
    margin-left: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
/* End fourth Row */

/* Advantage part */
.section-title.success {
    font-weight: 300 !important;
}

.tickets-img-3 {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-right: auto;
    margin-left: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 425px) {
    .carousel-item {
        min-height: 400px;
    }
}

/* md-breakpoint */
@media (min-width: 765px) {
    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .carousel-item {
        min-height: 300px;
    }
}

/* lg-breakpoint */
@media (min-width: 1200px) {
    .title {
        font-size: 5em
    }

    .tickets-img-1, .tickets-img-2{
        height: 350px !important;
        width: auto;
    }

    .tickets-img-3 {
        height: 300px !important;
        width: auto;
    }

    .carousel-item {
        min-height: 200px;
    }
}