<div class="container-fluid p-0 w header-padding">

	<!-- Title screen. First screen you'll see when opening the website -->
	<div class="row no-gutters mnh-100vh">
		<div class="col">
			<!-- background -->
			<div class="row mnh-100 svg-header no-gutters">
				<div class="col bg-1"></div>
				<div class="col bg-2">
					<svg viewBox="0 0 88 1024" orientation="vertical" class="svg-divider">
						<path
							d="M0,0h45.07891c58.40593,190.38815,58.40593,361.05481,0,512s-58.40593,321.61188,0,512H0V0z">
						</path>
					</svg>
				</div>
			</div>
			<!-- End background -->

			<!-- content overlay -->
			<div class="row content mnh-100 no-gutters justify-content-center">
				<div class="container px-4 px-md-0 overflow-hidden">
					<div class="row mnh-80 align-content-center pt-5">
						<div class="col-12">
							<h1 class="title ft-montserrat">
								<span class="title-animation-1 animate__animated animate__fadeInDown">1 </span>
								<span class="title-animation-2 animate__animated animate__fadeInDown">EURO </span>
								<span class="title-animation-3 animate__animated animate__fadeInDown">PER </span>
								<span class="title-animation-4 animate__animated animate__fadeInDown">TICKET.</span><br>
								<span class="title-animation-5 animate__animated animate__fadeInDown">ALL </span>
								<span class="title-animation-6 animate__animated animate__fadeInDown">INCLUSIVE</span></h1>
						</div>
						<div class="col-12 col-md-8 mt-4" [ngsReveal]="scrollUpWithDelay">
							<p class="subtitle">Hou meer geld over aan het einde van je evenement met scherpe
								servicekosten van Tickevents. Zo kun je meer, vaker, en grotere evenementen organiseren!
							</p>
						</div>
						<div class="w-100"></div>
						<div class="col-6 col-md-5 col-lg-4 col-xl-3 my-3"  [ngsReveal]="scrollUpWithDelay">
							<a class="btn w-100" type="button" routerLink="/getting-started">
								Aan de slag
							</a>
						</div>
					</div>

					<!-- Chevrons -->
					<div class="row">
						<div class="col-12">
							<app-home-chevron></app-home-chevron>
						</div>
					</div>
					<!-- End Chevrons -->

				</div>
			</div>
			<!-- End content-overlay -->
		</div>
	</div>

	<!-- The second part of the website that you'll see when scrolling down -->
	<div class="row no-gutters blue section-padding">
		<div class="col">
			<div class="container px-4 px-md-0">
				<div class="row no-gutters align-content-center">

					<!-- Tickets image -->
					<div class="col-12 col-md-7 text-center text-md-left order-2 order-md-1" [ngsReveal]="scrollUp">
						<img src="../assets/double-tickets.svg" alt="tickets" class="tickets-img-1 px-3">
					</div>
					<!-- End tickets image -->

					<!-- Text section -->
					<div class="col-12 col-md-5 h-auto order-1 order-md-2">
						<div class="row no-gutters align-content-center h-100">
							<div class="col-12"  [ngsReveal]="scrollUp">
								<h5 class="m-0 pink">Lage servicekosten</h5>
							</div>
							<div class="col-12"  [ngsReveal]="scrollUp">
								<h2 class="section-title">Lage servicekosten = meer winst onder de streep
								</h2>
							</div>
							<div class="col-12"  [ngsReveal]="scrollUp">
								<p>Jij wilt zoveel mogelijk winst maken uit jouw verkochte ticket. Tickevents snapt dit,
									en bied
									jou de scherpe servicekosten van €1,- per verkocht ticket. Omdat dit platform met de
									hand is
									gemaakt, blijven de servicekosten laag, en verdien jij meer per verkocht ticket!</p>
							</div>
						</div>
					</div>
					<!-- End text section -->
				</div>
			</div>
		</div>
	</div>

	<!-- Reviews section carousel -->
	<div class="row no-gutters justify-content-center bg-blue section-padding align-content-center mnh-25vh" >
		<div class="container px-4 px-md-0">
			<div id="quoteCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" [ngsReveal]="scrollUp">
					<div class="carousel-item active">
						<div class="carousel-wrapper">
							<h1 class="text-center mx-auto lead quote"><i>"Tickevents heeft mij een hoop zorgen
									en
									kosten
									bespaard! De
									oprichter komt persoonlijk langs om een bakje koffie te drinken en de
									plannen
									van je
									workshop bespreken, om te kijken hoe we goed samen kunnen werken. Op de dag
									van
									het
									evenement kwam hij zelfs meehelpen met scannen en ondersteunde hij waar
									nodig
									met de
									ticketverkoop."</i></h1>
							<div class="carousel-caption">
								<h5>Marlijn de Jager</h5>
								<p>Organiseert kleine feesten in kroegen</p>
							</div>
						</div>

					</div>
					<div class="carousel-item">
						<div class="carousel-wrapper">

							<h1 class="text-center w-75 mx-auto lead quote"><i>"Top service en zeer scherpe
									servicekosten. Dit
									vind je niet snel bij een grote ticketverkoper."</i></h1>
							<div class="carousel-caption d-block mt-3">
								<h5>Bas Maats</h5>
								<p>Organiseert kleinschalige workshops voor projectmanagers</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-wrapper">

							<h1 class="text-center w-75 mx-auto lead quote"><i>"Het is misschien een eenvoudige
									service
									zonder
									al te veel poespas, maar wat ze meestal zeggen: 'minder is meer', en dat geldt
									zeker
									voor Tickevents. Weinig servicekosten en de enorm goede en persoonlijke
									benadering
									is het dubbel en dwars waard."</i></h1>
							<div class="carousel-caption d-block mt-3">
								<h5>Steef Reusken</h5>
								<p>Verkoopt tickets voor zijn yogaclass</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Personal attention row -->
	<div class="row no-gutters section-padding">
		<div class="col">
			<div class="container px-4 px-md-0">
				<div class="row">
					<div class="col-12 col-md-5">
						<div class="row align-content-center h-100">
							<div class="col-12" [ngsReveal]="scrollUp">
								<h5 class="m-0 pink">Persoonlijke Benadering</h5>
							</div>
							<div class="col-12" [ngsReveal]="scrollUp">
								<h2 class="section-title blue">Je staat er niet alleen voor. Tickevents denkt met je mee
								</h2>
							</div>
							<div class="col-12 blue" [ngsReveal]="scrollUp">
								<p>Tickevents gelooft in de persoonlijke benadering. Werken met abstracte, onbereikbare
									ticketingplatformen is verleden tijd. Bij Tickevents denken we met je mee over je
									evenement, en proberen wij jou te helpen waar we maar kunnen. Samen halen we het
									meeste uit jouw evenement!</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 text-center text-md-right" [ngsReveal]="scrollUp">
						<img src="../../assets/friendship.svg" alt="tickets" class="tickets-img-2 px-3">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- The Tickevents Flow -->
	<div class="row no-gutters section-padding bg-blue">
		<div class="col">
			<div class="container px-4 px-md-0">
				<div class="row">
					<div class="col-12 col-md-7 mt-3 mt-md-0 text-center text-md-left order-2 order-md-1" [ngsReveal]="scrollUp">
						<img src="../../assets/combo.svg" alt="tickets" class="tickets-img-2 px-3">
					</div>
					<div class="col-12 col-md-5 order-1 order-md-2">
						<div class="row align-content-center h-100">
							<div class="col-12" [ngsReveal]="scrollUp">
								<h5 class="m-0">Verregaande inzichten</h5>
							</div>
							<div class="col-12" [ngsReveal]="scrollUp">
								<h2 class="section-title">Hoe kan je nóg meer tickets verkopen?
								</h2>
							</div>
							<div class="col-12" [ngsReveal]="scrollUp">
								<p>Met de uitgebreide analysemogelijkheden van Tickevents heb je veel inzicht in jouw
									evenement. Hiermee kan je voor je volgende evenement nieuwe strategieën bedenken op
									basis van jouw metrieken</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Afspraken row -->
	<div class="row no-gutters section-padding">
		<div class="col">
			<div class="container px-4">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8">
						<h5 class="pink" [ngsReveal]="scrollUp">Het Tickevents verschil</h5>
						<h2 class="text-left section-title blue success" [ngsReveal]="scrollUp">
							Tickevents is het enige online ticketingplatform dat succesvol scherpe servicekosten met een
							waanzinnige klantervaring kan combineren
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Call to Action part -->
	<div class="row no-gutters section-padding bg-pink">
		<div class="col">
			<div class="container px-4 px-md-0">
				<div class="row align-content-center">
					<div class="col-12 col-md-5">
						<div class="row align-content-center h-100">
							<div class="col-12" [ngsReveal]="scrollUp">
								<h2 class="section-title w">Aan de slag met Tickevents</h2>
							</div>
							<div class="col-12" [ngsReveal]="scrollUp">
								<p class="w">Begin vandaag nog met het verhogen van je winst. Meld je aan voor meer informatie.</p>
							</div>
							<div class="col-12" [ngsReveal]="scrollUp">
								<a class="btn mt-2 mnw-50" type="button" routerLink="/getting-started">Aan de slag</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 mt-4 mt-md-0 text-center text-md-right" [ngsReveal]="scrollUp">
						<img src="../../assets/clapping.svg" alt="clapping" class="tickets-img-3 px-3">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>