
/* Main page */
.title {
    font-weight: bolder;
    font-size: 2.5em;
}

.subtitle {
    font-size: 1.35em;
    font-weight: 400;
}

.btn {
    background-color: #5D9881;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    transition-duration: 0s;
    border-radius: 10px;
    height: 45px;
    padding: 8px;
    box-shadow: 0 5px #9AC1B2;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #467261;
    transition: background-color 0.2s ease;
}

.btn:active {
    background-color: #467261;
    box-shadow: 0 3px #294F53;
    transform: translateY(4px);
    transition: background-color 0.2s ease;
}

.content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: -105vh;
}
/* End main page */

/* Background */
.svg-header {
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.svg-divider {
    position: absolute;
    bottom: 0px;
    left: -1px;
    height: 100%;
    fill: #092134;
}

.bg-1 {
    background: #092134;
    background: linear-gradient(270deg, #092134, #0C2C45);
}

.bg-2 {
    background: linear-gradient(90deg, #EA8585, #ED9696);
}
/* End main page */

/* Second page */
.tickets-img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ol {
    counter-reset: number-counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 1rem 0;
    counter-increment: number-counter;
    position: relative;
}

ol li::before {
    content: counter(number-counter);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;

    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: linear-gradient(90deg, #EA8585, #ED9696);
    ;
    border-radius: 50%;
    text-align: center;
}

.summing-title {
    font-size: 1.5rem;
}
/* End second page */

.third-row {
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    background: linear-gradient(270deg, #092134, #0C2C45);
    min-height: 550px;
}

.quote {
    line-height: 2rem !important;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.wrapper {
    position: relative;
    vertical-align: center;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    background: linear-gradient(90deg, #EA8585, #ED9696);
    border-radius: 50%;
    color: white;
}

.icon-image {
    display: inline-flex;
    align-items: center;
    line-height: 100px;
}

.large {
    font-size: 2.8rem;
    color: white;
}

.social-button {
    border-radius: 15px;
    background: none;
}

.social-button:hover {
    border-radius: 15px;
    background: linear-gradient(90deg, #EA8585, #ED9696);
    color: white;
}

.social-button:hover .wrapper {
    background: white;
}

.social-button:hover .wrapper .large {
    color: #EA8585;
}

.footer {
    background: linear-gradient(270deg, #092134, #0C2C45);
}

.footer-logo {
    width: auto;
    height: auto;
    max-height: 100px !important;
    max-width: 100% !important;
}


@media (min-width: 425px) {

    .third-row {
        min-height: 500px;
    }

}

/* md-breakpoint */
@media (min-width: 765px) {
    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .third-row {
        min-height: 400px;
    }
}

/* lg-breakpoint */
@media (min-width: 1200px) {
    .title {
        font-size: 5em
    }

    .tickets-img {
        height: 350px !important;
        width: auto;
    }

    .third-row {
        min-height: 300px;
    }
}