<div class="container-fluid p-0">

	<app-create-event-header></app-create-event-header>

	<div class="row no-gutters">

		<!-- Left panel -->
		<div class="col-5 left-panel mnh-100vh">

			<div class="row h-100">
				<div class="col-12 px-5 left-panel-content">
					<div class="d-flex flex-column h-100">

						<div class="row no-gutters">
							<div class="col-12">
								<h1 class="w ft-alata text-center title mb-4">Maak een evenement aan</h1>
							</div>
						</div>

						<!-- The first item in the list is always active -->
						<div class="row no-gutters flex-grow-1  content-compensation">
							<div class="col-12 align-self-center">
								<div class="row list-item mb-4" [ngClass]="{active: createEventActive}">
									<div class="col-auto">
										<div class="circle text-center ft-alata">
											<span>1</span>
										</div>
									</div>
									<div class="col align-self-center">
										<h1 class="m-0">evenement aanmaken</h1>
									</div>
								</div>

								<div class="row  list-item mb-4" [ngClass]="{active: createTicketActive}">
									<div class="col-auto">
										<div class="circle text-center ft-alata">
											<span>2</span>
										</div>
									</div>
									<div class="col align-self-center">
										<h1 class="m-0">tickets aanmaken</h1>
									</div>
								</div>

								<div class="row  list-item mb-4" [ngClass]="{active: createPersonalDetailsActive}">
									<div class="col-auto">
										<div class="circle text-center ft-alata">
											<span>3</span>
										</div>
									</div>
									<div class="col align-self-center">
										<h1 class="m-0">jouw gegevens</h1>
									</div>
								</div>

								<div class="row  list-item" [ngClass]="{active: overviewActive}">
									<div class="col-auto">
										<div class="circle text-center ft-alata">
											<span>4</span>
										</div>
									</div>
									<div class="col align-self-center">
										<h1 class="m-0">Overzicht</h1>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- End left panel -->

		<!-- Right panel -->
		<div class="col-7">
			<router-outlet></router-outlet>
			<!-- <app-event-details *ngIf="state == createEvent"></app-event-details>
			<app-ticket-details *ngIf="state == createTickets"></app-ticket-details>
			<app-personal-details *ngIf="state == createPersonalDetails"></app-personal-details>
			<app-overview *ngIf="state == overview"></app-overview> -->
		</div>
		<!-- End right panel -->

	</div>
</div>