<div class="container-fluid p-0">
	<div class="row no-gutters ">

		<!-- Left panel -->
		<div class="col-5 left-panel mnh-100vh">

			<div class="row h-100">
				<div class="col-12 px-5 align-self-center">

					<h1 class="w ft-alata text-center title mb-5">Maak een evenement aan</h1>

					<div class="row list-item mb-5" [ngClass]="{active: _firstEventActive}">
						<div class="col-auto">
							<div class="circle text-center ft-alata">
								<span>1</span>
							</div>
						</div>
						<div class="col align-self-center">
							<h1 class="m-0">evemement aanmaken</h1>
						</div>
					</div>

					<div class="row  list-item mb-5" [ngClass]="{active: _secondEventActive}">
						<div class="col-auto">
							<div class="circle text-center ft-alata">
								<span>2</span>
							</div>
						</div>
						<div class="col align-self-center">
							<h1 class="m-0">tickets aanmaken</h1>
						</div>
					</div>

					<div class="row  list-item" [ngClass]="{active: _thirdEventActive}">
						<div class="col-auto">
							<div class="circle text-center ft-alata">
								<span>3</span>
							</div>
						</div>
						<div class="col align-self-center">
							<h1 class="m-0">jouw gegevens</h1>
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- End left panel -->

		<!-- Right panel -->
		<div class="col-7">

		</div>
		<!-- End right panel -->

	</div>
</div>