.footer-logo {
    width: auto;
    height: auto;
    max-height: 100px !important;
    max-width: 100% !important;
}

.bg-blue {
    padding-top: 100px !important;
    padding-bottom: 20px !important;
}