/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form-check {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

button[disabled] {
    pointer-events: none;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}