<app-header></app-header>
<div class="container-fluid p-0">
    <div class="row mnh-100vh no-gutters">
        <div class="col">

            <!-- Title section -->
            <div class="row no-gutters title-section w header-padding section-padding pb-0  ">
                <div class="col">
                    <div class="container px-3 px-md-0 h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-12 text-center align-self-center">
                                <h1 class="title m-0">Ga aan de slag met Tickevents en verkoop tickets voor jouw:</h1>
                                <div class="my-slider w-100 text-center title">
                                    <p class="m-0 text-lowercase text-center">&#160;geitenmarkt</p>
                                    <p class="m-0 text-lowercase text-center">&#160;yogaworkshop</p>
                                    <p class="m-0 text-lowercase text-center">&#160;kamasutrabeurs</p>
                                    <p class="m-0 text-lowercase text-center">&#160;kroegentocht</p>
                                    <p class="m-0 text-lowercase text-center">&#160;boekenbeurs</p>
                                    <p class="m-0 text-lowercase text-center">&#160;Hardstylefeest</p>
                                    <p class="m-0 text-lowercase text-center">&#160;technorave</p>
                                </div>
                            </div>
                            <div class="col-12 align-self-end text-center justify-content-center">
                                <app-chevron text="Meer info"></app-chevron>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End title section -->

            <!-- Title banner section -->
            <div class="row no-gutters bg-blue w section-padding justify-content-center">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters align-content-center banner">
                            <div class="col-auto">
                                <p class="w text-center m-0">Van klimbos tot paintbal. Van kerstmarkt tot paasfeest.
                                    Tickevents biedt altijd 1 euro servicekosten en support op maat, ongeacht je
                                    evenement</p>
                            </div>
                            <div class="col-auto d-inline-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row no-gutters align-content-center flex-grow section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters align-content-center">
                            <div class="col-12 col-md-5">
                                <h1 class="ft-alata font-weight-bold">Aan de slag met Tickevents</h1>
                                <p class="ft-montserrat">Jij wilt aan de slag met Tickevents, super! Laat je email hier
                                    achter, en wij nemen contact met jou op, zodat we samen jouw evenement tot een
                                    grandioos succes kunnen brengen. Je ontvangt zo snel mogelijk bericht!</p>
                            </div>

                            <div class="col-12 col-md-7 mt-5 mt-md-0 align-self-center">
                                <form [formGroup]="detailsForm" (submit)="sendDetails()"
                                    *ngIf="!successfullSignup; else successTemplate">

                                    <div class="form-row  justify-content-end">
                                        <div class="col-12 col-lg-10">
                                            <div class="input-group">
                                                <input type="email" name="email" id="email" formControlName="email"
                                                    class="form-control ft-alata" placeholder="e-mail">
                                            </div>
                                            <span *ngIf="checkForm && email.invalid && email.errors.required"
                                                class="r small">Dit veld is
                                                verplicht</span>
                                            <span *ngIf="checkForm && email.invalid && email.errors.email"
                                                class="r small">Geldig format:
                                                aaa@bbb.ccc</span>
                                        </div>
                                    </div>

                                    <div class="form-row mt-3  justify-content-end">
                                        <div class="col-12 col-sm-3">
                                            <button type="submit" class="btn w-100">
                                                <ngx-spinner></ngx-spinner>
                                                <span>Verstuur</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-end mt-3">
                                        <div class="col-12 col-lg-10">
                                            <span class="gray small">Bij het verzenden van uw e-mail gaat u akkoord met onze <a
                                                href="../../../assets/privacy_statement_12-10-2020.pdf">privacystatement</a></span>
                                        </div>
                                    </div>
                                </form>

                                <div class="col-12" *ngIf="duplicateEmailError">
                                    <p class="text-center r">Dit email adres is al bekend bij ons. Je hoort snel van ons
                                        bij
                                        nieuwe updates!</p>
                                </div>
                                <div class="col-12" *ngIf="rejectedEmailError">
                                    <p class="text-center r">Dit email adres klopt niet of is misschien nep. Probeer het
                                        met
                                        een
                                        ander email
                                        adres.</p>
                                </div>

                                <ng-template #successTemplate>
                                    <div class="col-12 col-xm-10 ml-5">
                                        <h1 class="fs-xl ft-alata">Je aanmelding is succesvol ontvangen! We nemen zo snel mogelijk contact met je op.</h1>
                                        <p>Hou ook je spambox in de gaten!</p>
                                    </div>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>