<div class="container-fluid p-0 header-padding header-compensation">
    <div class="row mnh-100vh no-gutters">
        <div class="col">
            <div class="row mnh-100 no-gutters">
                <div class="container px-4 px-md-0">
                    <div class="row h-100 align-content-center">
                        <div class="col-12 col-md-5">
                            <h1 class="blue ft-alata font-weight-bold">Aan de slag met Tickevents</h1>
                            <p class="ft-montserrat">Tickevents is vol in ontwikkeling en we willen je hier graag bij betrekken. Wegens deze
                                ontwikkelingen kunnen we nog niet iedereen toegang tot het platform geven. Wil jij
                                betrokken
                                worden bij deze ontwikkelingen en als een van de eersten een evenement aanmaken bij
                                Tickevents? Laat dan je email achter.</p>
                        </div>
                        <div class="col-12 col-md-7 mt-5 mt-md-0 align-self-center">
                            <form [formGroup]="detailsForm" (submit)="sendDetais()"
                                *ngIf="!successfullSignup; else successTemplate">

                                <div class="form-row  justify-content-end">
                                    <div class="col-12 col-lg-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ft-montserrat px-2 px-md-4">email:</span>
                                            </div>
                                            <input type="email" name="email" id="email" formControlName="email"
                                                class="form-control" placeholder="john@email.com">
                                        </div>
                                        <span *ngIf="checkForm && email.invalid && email.errors.required"
                                            class="r small">Dit veld is
                                            verplicht</span>
                                        <span *ngIf="checkForm && email.invalid && email.errors.email"
                                            class="r small">Geldig format:
                                            aaa@bbb.ccc</span>
                                    </div>
                                </div>
                                <div class="form-row mt-3  justify-content-end">
                                    <div class="col-12 col-sm-9 col-lg-7 mt-3 mt-sm-0 order-2 order-sm-1">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="privacystatement" formControlName="privacystatement">
                                            <label class="form-check-label fs-s" for="privacystatement">Ik heb de <a
                                                href="../../assets/privacy_statement_12-10-2020.pdf" target="_blank">privacyverklaring</a> gelezen en ga hiermee
                                                akkoord</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3 order-1 order-sm-2">
                                        
                                        <button type="submit" class="btn w-100" [disabled]="privacystatement.value !== true">
                                            <ngx-spinner></ngx-spinner>
                                            <span>Verstuur</span>
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <div class="col-12" *ngIf="duplicateEmailError">
                                <p class="text-center r">Dit email adres is al bekend bij ons. Je hoort snel van ons bij
                                    nieuwe updates!</p>
                            </div>
                            <div class="col-12" *ngIf="rejectedEmailError">
                                <p class="text-center r">Dit email adres klopt niet of is misschien nep. Probeer het met
                                    een
                                    ander email
                                    adres.</p>
                            </div>

                            <ng-template #successTemplate>
                                <div class="col-12">
                                    <p class="text-center fs-l">Uw aanmelding is succesvol ontvangen! U krijgt bericht
                                        wanneer er interessante
                                        updates zijn!</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>