.form-check {
    top: 50%;
    transform: translateY(-50%);
}

button[disabled] {
    pointer-events: none;
    transition-duration: 0.3s;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}