.title-background {
    background-image: url(../../assets/getting-started-background-mobile.svg);
    background-size: 100% auto;
}

.content {
    margin-top: 150px;
}

.content-card {
    border-radius: 35px;
    min-height: 750px;
    padding: 30px;
    background: white;
    -webkit-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
}

.title {
    font-size: 42px;
}

.title-segment {
    color: #0705DE;
}

.subtitle {
    font-size: 22px;
    margin-top: 14px;
}

label {
    color: #878787 !important;
    padding-left: 30px;
    font-family: 'alata';
    font-size: 24px;
    margin-top: 15px;
}

input {
    height: 60px;
    border-radius: 30px;
    font-size: 22px;
    -webkit-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    border-color: #BFBFBF;
}

.email-row {
    margin-top: 15px;
}

.submit-row {
    margin-top: 48px
}

.cta-email-button {
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    background: linear-gradient(90deg, #FFA200, #FF014E);
    -webkit-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.16);
}

.privacy-row {
    padding-left: 30px;
    font-size: 14px;
    color: #878787 !important;
    margin-top: 5px;
}

.phone-image {
    margin-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
    animation: upAndDown;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.error-message {
    padding-left: 30px;
    height: 24px
}

.invalid {
    transition-duration: 0.3s;
    color: red !important;
    border-color: red !important;
}

@media (min-width: 576px) {
    .title {
        font-size: 41px;
    }

    .content {
        margin-top: 175px;
    }

    .content-card {
        padding: 40px
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 51px;
    }

    .footer-margin {
        margin-top: 100px;
    }
}

/* XL breakpoint */
@media (min-width: 992px) {
    .title-background {
        background-image: url(../../assets/getting-started-background.svg);
    }

    .title {
        font-size: 35px;
    }

    .phone-image {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 43px
    }
}

/* XXL breakpoint */
@media (min-width: 1920px) {
    .phone-image {
        padding-left: 80px;
        padding-right: 80px;
    }

    .content-card {
        padding: 60px;
    }

    .title {
        font-size: 50px;
    }

    .subtitle, input {
        font-size: 24px;
    }
}



@keyframes upAndDown {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-40px)
    }
}