<div class="row no-gutters footer-section mt-5 pt-5 px-3 w">
    <div class="col-12 mt-5">
        <h4 class="ft-alata">Op de hoogte blijven? Laat je e-mail achter</h4>
    </div>
    <div class="col-12 mt-3">
        <input type="email" class="w-100 input px-3 ft-alata" placeholder="e-mail">
    </div>
    <div class="col-auto mt-3">
        <button class="btn-secondary-cta ft-alata px-5">Verzend</button>
    </div>
    <div class="col-12 mt-5">
        <img src="../../../assets/Logo White.svg" height="40px">
    </div>
    <div class="col-12">
        <p class="gray small">info@tickevents.nl<br>
            KvK: 78568706<br>
            BTW-ID: NL03348034B41<br>
            ©Rondelle Software Solutions</p>
    </div>
</div>