<app-header></app-header><div class="container-fluid p-0">
    <div class="row mnh-100vh no-gutters">
        <div class="col">

            <!-- Title section -->
            <div class="row no-gutters title-section w header-padding section-padding pb-0  ">
                <div class="col">
                    <div class="container px-3 px-md-0 h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-12 align-self-center">
                                <h1 class="title m-0">TICKETS VERKOPEN VOOR JE EVENEMENT WAS NOG NOOIT ZO MAKKELIJK</h1>
                            </div>
                            <div class="col-12 col-md-8 mt-3">
                                <p class="w m-0 subtitle">Met het Tickevents systeem kan je zonder moeite de toegang tot
                                    je event regelen. Meld je evenement aan, promoot je event, scan de verkochte
                                    tickets, en klaar!</p>
                            </div>
                            <div class="col-12 mt-4 mb-0 mt-md-5">
                                <a routerLink="/register" class="cta-button">Evenement aanmaken</a> 
                            </div>
                            <div class="col-12 align-self-end text-center justify-content-center d-md-none">
                                <app-chevron text="Meer info"></app-chevron>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End title section -->

            <!-- Event Setup section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container  px-3 px-md-0">

                        <div class="row no-gutters align-content-center justify-content-center section-container">

                            <!-- Gray section background -->
                            <div class="col-12 section-row ">
                                <div class="row no-gutters justify-content-start">
                                    <div class="col-6 bg-gray section-background">
                                    </div>
                                </div>
                            </div>
                            <!-- End gray section background -->

                            <!-- Text section -->
                            <div class="col-12 col-md-5 pl-0 pl-md-5">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Event Setup</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 1: Meld je evenement aan op het platform
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Maak snel en gemakkelijk jouw evenement aan met het Tickevents systeem. Vul
                                            hierbij de nodige informatie in en bepaal wat voor soort tickets je nodig
                                            hebt, zoals Early Bird of VIP tickets. Ook kan je hier je eigen style geven
                                            aan jouw tickets. Bij het aanmaken van jouw evenement kan je aangeven welke
                                            klantgegevens jij wilt verzamelen. Hoe minder gegevens klanten hoeven achter
                                            te laten, hoe makkelijker het aankooproces wordt!</p>
                                        <a routerLink="/register" class="cta-button">Evenement aanmaken</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End text section -->

                            <!-- SVG Section -->
                            <div class="col-12 col-md-7  svg-col"
                                >
                                <div
                                    class="row no-gutters h-100 align-content-center justify-content-center justify-content-md-end">
                                    <div class="col-auto">
                                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
                                            height="350" viewBox="0 0 464 472.35">
                                            <path
                                                d="M180.2,120.4l-32-32,53.3-60A17.05,17.05,0,0,0,200.8,5h0a17.14,17.14,0,0,0-24.1,0l-.5.5L115.8,71.4a24,24,0,0,0,.7,33.2l41.3,39.8Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#fdc9a6" />
                                            <path
                                                d="M296.4,124.6l79.9-87a16.92,16.92,0,0,1,23.9-1.1l.6.6a17.05,17.05,0,0,1,.6,23.4L322,146.6Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#f6bb92" />
                                            <polygon
                                                points="320 144.35 288 176.35 288 272.35 192 272.35 192 176.35 144 136.35 168 112.35 208 144.35 264 144.35 296 120.35 320 144.35"
                                                style="fill:#e77474" />
                                            <path
                                                d="M236.2,136.4a23.94,23.94,0,0,1-24-24l-1.2-48h48l1.2,48A24,24,0,0,1,236.2,136.4Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#fdc9a6" />
                                            <path
                                                d="M210.9,95.6l16-24,4.2,3.2a41.66,41.66,0,0,0,53.5-3.7l7.5-7.5-21.3-16a40.07,40.07,0,0,0-42.9-4.5l-9.1,4.6-.5.3a32,32,0,0,0-10.9,40.9Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#5b3726" />
                                            <path
                                                d="M292.2,264.4l5.5,27.5a32,32,0,0,1-4.2,23.2l-33.3,53.2,40,72v16h-40v-16l-40-72,16-48-48,48,32,72v16h-40v-16l-32-72,48-80v-24h96Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#4799cf" />
                                            <path d="M220.2,472.4h-64v-8a23.94,23.94,0,0,1,24-24h40Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#1f6c8c" />
                                            <path d="M300.2,472.4h-64v-8a23.94,23.94,0,0,1,24-24h40Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#1f6c8c" />
                                            <polygon
                                                points="464 176.35 429.7 190.05 416 224.35 402.3 190.05 368 176.35 402.3 162.65 416 128.35 429.7 162.65 464 176.35"
                                                style="fill:#255c89" />
                                            <polygon
                                                points="96 376.35 61.7 390.05 48 424.35 34.3 390.05 0 376.35 34.3 362.65 48 328.35 61.7 362.65 96 376.35"
                                                style="fill:#255c89" />
                                            <rect x="440" y="408.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="416" y="432.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="416" y="384.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="392" y="408.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="80" y="184.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="64" y="200.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="64" y="168.35" width="16" height="16" style="fill:#2583d0" />
                                            <rect x="48" y="184.35" width="16" height="16" style="fill:#2583d0" />
                                            <path
                                                d="M393.9,298.7a8,8,0,0,1,0,11.3l-16,16a7.87,7.87,0,0,1-5.6,2.3,8.06,8.06,0,0,1-5.7-13.7l10.3-10.3L366.5,294a8,8,0,0,1,11.3-11.3Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#4097dd" />
                                            <path
                                                d="M353.9,298.7a8,8,0,0,1,0,11.3l-16,16a7.87,7.87,0,0,1-5.6,2.3,8.06,8.06,0,0,1-5.7-13.7l10.3-10.3L326.5,294a8,8,0,0,1,11.3-11.3Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#4097dd" />
                                            <path
                                                d="M81.8,90.7a8,8,0,0,1,0,11.3,7.93,7.93,0,0,1-5.7,2.3,8.1,8.1,0,0,1-5.7-2.3l-16-16a8,8,0,0,1,0-11.3l16-16A8,8,0,0,1,81.7,70L71.5,80.4Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#4097dd" />
                                            <path
                                                d="M41.8,90.7a8,8,0,0,1,0,11.3,7.87,7.87,0,0,1-5.6,2.3,8.1,8.1,0,0,1-5.7-2.3l-16-16a8,8,0,0,1,0-11.3l16-16A8,8,0,0,1,41.8,70L31.5,80.4Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#4097dd" />
                                            <path
                                                d="M268.2,144.4,291,127.3c-2.9,28.1-12.7,90.5-43.5,137.1H196.2v-88l-48-40,24-24,40,32Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#ea8585" />
                                            <path d="M247.5,264.4H196.2v24l-17.4,28.9A120.79,120.79,0,0,0,247.5,264.4Z"
                                                transform="translate(-4.2 -0.05)" style="fill:#6cbae5" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!-- End SVG section -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Event Setup section -->

            <!-- Event Promotion section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters section-container">

                            <!-- Gray section background -->
                            <div class="col-12 section-row">
                                <div class="row no-gutters justify-content-end">
                                    <div class="col-6 bg-gray section-background">
                                    </div>
                                </div>
                            </div>
                            <!-- End gray section background -->

                            <!-- Text section -->
                            <div class="col-12 col-md-5 order-md-2 pr-0 pr-md-5">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Evenement promoten</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 2: Promoot en verkoop tickets voor je
                                            evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>De volgende stap na het aanmaken van jouw evenement is het promoten hiervan.
                                            Verkoop tickets door op je social media kanalen of je website te linken naar
                                            jouw Tickevents-evenementenpagina, waar bezoekers een kaartje kunnen
                                            aanschaffen. Dankzij de slimme inrichting van het koopproces kan de klant in
                                            zo weinig mogelijk stappen zijn ticket aanschaffen.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End text section -->

                            <!-- SVG Section -->
                            <div class="col-12 col-md-7 order-md-1 "
                                >
                                <div
                                    class="row no-gutters h-100 justify-content-center align-content-center justify-content-md-start">
                                    <div class="col-auto">
                                        <svg id="social_media" data-name="social media"
                                            xmlns="http://www.w3.org/2000/svg" height="330px" width="100%"
                                            viewBox="0 0 350 350">
                                            <g id="facebook">
                                                <path
                                                    d="M350,42.24A42.24,42.24,0,1,1,307.76,0,42.24,42.24,0,0,1,350,42.24Z"
                                                    style="fill:#dfecf6" />
                                                <path
                                                    d="M331.9,36.21v-3a15.09,15.09,0,0,0-30.18,0v9.05H289.66V54.31h12.06V66.38h12.07V54.31h12.07V42.24H313.79V33.19a3,3,0,0,1,6,0v3Z"
                                                    style="fill:#1e70ae" />
                                            </g>
                                            <path d="M199.14,169h12.07V181H199.14Z" style="fill:#efa0a0" />
                                            <path d="M223.28,169h12.06V181H223.28Z" style="fill:#efa0a0" />
                                            <path
                                                d="M219,115.37l5.38,10.79a124.29,124.29,0,0,0,11.13-6.27l-6.45-10.2Q224.16,112.78,219,115.37Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M197.4,123.56l3.13,11.66a126.54,126.54,0,0,0,12.15-3.93L208.4,120C204.82,121.36,201.12,122.56,197.4,123.56Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M255.58,104.15l-8.36-8.7a114.49,114.49,0,0,1-8.73,7.58l7.45,9.49A123.47,123.47,0,0,0,255.58,104.15Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M271.62,85.42l.46-.66-9.87-6.92-.47.68c-2.06,2.93-4.28,5.81-6.6,8.53l9.2,7.85C266.9,91.85,269.35,88.67,271.62,85.42Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M197.4,226.44c3.72,1,7.42,2.2,11,3.55l4.28-11.28c-4-1.5-8-2.82-12.15-3.93Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M219,234.63q5.16,2.6,10.06,5.68l6.45-10.2c-3.62-2.27-7.34-4.39-11.13-6.27Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M245.94,237.48,238.49,247a114.49,114.49,0,0,1,8.73,7.58l8.36-8.7A123.47,123.47,0,0,0,245.94,237.48Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M264.31,255.14,255.12,263c2.32,2.72,4.53,5.6,6.6,8.54l.47.67,9.87-6.94-.46-.65A109.75,109.75,0,0,0,264.31,255.14Z"
                                                style="fill:#efa0a0" />
                                            <g id="twitter">
                                                <path
                                                    d="M350,175a48.28,48.28,0,1,1-48.28-48.28A48.28,48.28,0,0,1,350,175Z"
                                                    style="fill:#c0f5f9" />
                                                <path
                                                    d="M310.78,156.9a9.06,9.06,0,0,0-9.06,9v5.32a6,6,0,0,1-8.73,5.39L277.59,169l2.75,11a24.63,24.63,0,0,0,16.1,17.38,16.76,16.76,0,0,0,10.57,0l1.37-.46A16.75,16.75,0,0,0,319.83,181V166A9,9,0,0,0,310.78,156.9Z"
                                                    style="fill:#1e70ae" />
                                                <path d="M326.87,168l-7.54,4-2-11.06Z" style="fill:#1e70ae" />
                                            </g>
                                            <g id="insta">
                                                <path
                                                    d="M337.93,350H283.62a12.07,12.07,0,0,1-12.07-12.07V313.79L350,312.28v25.65A12.06,12.06,0,0,1,337.93,350Z"
                                                    style="fill:#efa0a0" />
                                                <path
                                                    d="M283.62,277.59h54.31A12.06,12.06,0,0,1,350,289.66v24.13H271.55V289.66A12.07,12.07,0,0,1,283.62,277.59Z"
                                                    style="fill:#ebebeb" />
                                                <path
                                                    d="M328.88,313.79a18.11,18.11,0,1,1-18.1-18.1A18.11,18.11,0,0,1,328.88,313.79Z"
                                                    style="fill:#dbdbdb" />
                                                <path
                                                    d="M322.84,313.79a12.07,12.07,0,1,1-12.06-12.07A12.06,12.06,0,0,1,322.84,313.79Z"
                                                    style="fill:#eaeae8" />
                                            </g>
                                            <path d="M78.45,205.17v54.31a12.07,12.07,0,0,1-24.14,0V205.17Z"
                                                style="fill:#1e70ae" />
                                            <rect x="36.21" y="138.79" width="60.34" height="72.41"
                                                style="fill:#1e70ae" />
                                            <path
                                                d="M36.21,205.17H24.14A24.14,24.14,0,0,1,0,181V169a24.14,24.14,0,0,1,24.14-24.14H36.21Z"
                                                style="fill:#ebebeb" />
                                            <g id="horn">
                                                <path
                                                    d="M181,235.34H156.9l-10.32-7.72a105.85,105.85,0,0,0-30.22-15.84l-19.81-6.61V144.83l2.54-.42a106.65,106.65,0,0,0,57.81-29.75H181Z"
                                                    style="fill:#ebebeb" />
                                                <path
                                                    d="M181,108.62V241.38a12.07,12.07,0,1,1-24.13,0V108.62a12.07,12.07,0,1,1,24.13,0Z"
                                                    style="fill:#1e70ae" />
                                            </g>
                                            <path d="M58.84,156.9H70.91V169H58.84Z" style="fill:#f7ba61" />
                                            <path d="M58.84,181H70.91V193.1H58.84Z" style="fill:#aae5c8" />
                                            <rect x="54.31" y="211.21" width="24.14" height="12.07"
                                                style="fill:#154e7a" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!-- End SVG section -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Event Promotion section -->

            <!-- Scanning section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters section-container">

                            <!-- Gray section background -->
                            <div class="col-12 section-row ">
                                <div class="row no-gutters justify-content-start">
                                    <div class="col-6 bg-gray section-background">
                                    </div>
                                </div>
                            </div>
                            <!-- End gray section background -->

                            <!-- Text section -->
                            <div class="col-12 col-md-5 pl-0 pl-md-5">
                                <div class="row  no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Toegang regelen</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 3: Scan de tickets aan de deur
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Met de handige Tickevents Ticketscanner App kan je snel en gemakkelijk de
                                            toegangskaartjes van jouw bezoekers scannen. Deze app is te downloaden voor
                                            iOS en Android en werkt ook offline! De data van de handscanner is direct
                                            (mits met internetverbinding) terug te vinden in het Adminpanel.</p>
                                    </div>
                                </div>
                                <!-- End text section -->
                            </div>
                            <!-- SVG Section -->
                            <div class="col-12 col-md-7 " >
                                <div
                                    class="row no-gutters h-100 align-content-center justify-content-center justify-content-md-end">
                                    <div class="col-auto">
                                        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
                                            height="350" viewBox="0 0 256 464">
                                            <path
                                                d="M16,0H240a16,16,0,0,1,16,16V448a16,16,0,0,1-16,16H16A16,16,0,0,1,0,448V16A16,16,0,0,1,16,0Z"
                                                style="fill:#dfecf6" />
                                            <circle cx="128" cy="184" r="96" style="fill:#dfecf6" />
                                            <path
                                                d="M80,0h96a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16H80A16,16,0,0,1,64,16h0A16,16,0,0,1,80,0Z"
                                                style="fill:#afd0e9" />
                                            <path d="M112,272h32v56H112Z" style="fill:#cbcbcb" />
                                            <path
                                                d="M144,294.6V278.4a86.08,86.08,0,0,1-32,0v16.2A90.54,90.54,0,0,0,144,294.6Z"
                                                style="fill:#b9b9b9" />
                                            <path
                                                d="M184,307.1a8,8,0,0,1-8-8,7.84,7.84,0,0,1,4.5-7.2A120.56,120.56,0,0,0,203,277.6a8,8,0,0,1,10.1,12.5,141.07,141.07,0,0,1-25.5,16.2A7.84,7.84,0,0,1,184,307.1Z"
                                                style="fill:#afd0e9" />
                                            <path d="M120,176H80V136h40ZM96,160h8v-8H96Z" style="fill:#ea8585" />
                                            <path d="M176,176H136V136h40Zm-24-16h8v-8h-8Z" style="fill:#ea8585" />
                                            <path d="M120,232H80V192h40ZM96,216h8v-8H96Z" style="fill:#ea8585" />
                                            <path d="M160,192h24v16H160Z" style="fill:#ea8585" />
                                            <path d="M168,216h16v16H168Z" style="fill:#ea8585" />
                                            <path d="M152,216V192H136v40h24V216Z" style="fill:#ea8585" />
                                            <path d="M128,392a16,16,0,0,1-16-16V328h32v48A16,16,0,0,1,128,392Z"
                                                style="fill:#217aac" />
                                            <rect id="red-bar" x="32.8" y="179.8" width="188.3" height="8.5"
                                                style="fill:#fc0000" />
                                            <path
                                                d="M128,288A104,104,0,1,1,232,184,104,104,0,0,1,128,288Zm0-192a88,88,0,1,0,88,88A88,88,0,0,0,128,96Z"
                                                style="fill:#217aac" />
                                        </svg>
                                    </div>
                                </div>
                                <!-- End SVG section -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Scanning section -->

            <!-- Dashboard section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters section-container">

                            <!-- Gray section background -->
                            <div class="col-12 section-row ">
                                <div class="row no-gutters justify-content-end">
                                    <div class="col-6 bg-gray section-background">
                                    </div>
                                </div>
                            </div>
                            <!-- End gray section background -->

                            <!-- Text section -->
                            <div class="col-12 col-md-5 order-md-2  pr-0 pr-md-5">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Data analyseren</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 4: Analyseer het verloop van je evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Met de datainzichten van het adminpanel heb jij als organisator een compleet
                                            beeld van de kaartverkoop over jouw evenement. Informatie over bezoekers, de
                                            meest verkochte tickets en het aantal refunds zijn hier terug te vinden. Dit
                                            dashboard met handige inzichten biedt jou de tools om je volgende evenement
                                            een nóg groter succes te maken.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End text section -->

                            <!-- SVG Section -->
                            <div class="col-12 col-md-7 order-md-1 "
                                >
                                <div
                                    class="row no-gutters h-100 align-content-center justify-content-center justify-content-md-start">
                                    <div class="col-auto">
                                        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
                                            height="350" viewBox="0 0 464 464">
                                            <path
                                                d="M337.8,102.3,384,56H16A16,16,0,0,0,0,72V344H96S96.38,344.41,337.8,102.3Z"
                                                transform="translate(0 -24)" style="fill:#efa0a0" />
                                            <path
                                                d="M448.31,56H414.94l-31,0L337.8,102.3C96.38,344.41,96,344,96,344H464V72A16,16,0,0,0,448.31,56Z"
                                                transform="translate(0 -24)" style="fill:#ed9696" />
                                            <path
                                                d="M304,456v8H160v-8l4.8-6.4A95.66,95.66,0,0,0,184,392v-8h96v8a95.66,95.66,0,0,0,19.2,57.6Z"
                                                transform="translate(0 -24)" style="fill:#e4e4e2" />
                                            <path
                                                d="M304,456H272l-4.8-6.4A95.66,95.66,0,0,1,248,392h32a95.66,95.66,0,0,0,19.2,57.6Z"
                                                transform="translate(0 -24)" style="fill:#dbdbdb" />
                                            <path d="M152,456H312a8,8,0,0,1,8,8v24H144V464A8,8,0,0,1,152,456Z"
                                                transform="translate(0 -24)" style="fill:#eaeae8" />
                                            <path d="M448,392H16A16,16,0,0,1,0,376V336H464v40A16,16,0,0,1,448,392Z"
                                                transform="translate(0 -24)" style="fill:#eaeae8" />
                                            <path
                                                d="M232,24A176,176,0,0,0,84.5,296h40.2A144,144,0,0,1,337.8,102.3l22.6-22.6A175.24,175.24,0,0,0,232,24Z"
                                                transform="translate(0 -24)" style="fill:#1e70ae" />
                                            <path
                                                d="M360.4,79.7l-22.6,22.6A143.93,143.93,0,0,1,339.4,296h40.2A176.1,176.1,0,0,0,360.4,79.7Z"
                                                transform="translate(0 -24)" style="fill:#154e7a" />
                                            <path d="M376,200a143.64,143.64,0,0,1-36.7,96H124.7A144,144,0,1,1,376,200Z"
                                                transform="translate(0 -24)" style="fill:#dbdbdb" />
                                            <path d="M360,200a128.21,128.21,0,0,1-43.3,96H147.3A128,128,0,1,1,360,200Z"
                                                transform="translate(0 -24)" style="fill:#fff" />
                                            <g id="gauge">
                                                <path
                                                    d="M323.1,139.6l-50.2,55.2L246.3,224l-28.4-32,27.4-24.9,55.2-50.2Z"
                                                    transform="translate(0 -24)" style="fill:#1e70ae" />
                                                <path
                                                    d="M272.9,194.7,246.3,224l-28.4-32,27.4-24.9a42.92,42.92,0,0,1,27.6,27.6Z"
                                                    transform="translate(0 -24)" style="fill:#154e7a" />
                                                <circle cx="232" cy="184" r="32" style="fill:#dbdbdb" />
                                            </g>
                                            <path d="M448.31,56,448,56H384l31,0Z" transform="translate(0 -24)"
                                                style="fill:#efa0a0" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!-- End SVG section -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Dashboard section -->

        </div>
    </div>
</div>

<app-footer></app-footer>