/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/* Title section */
.section-padding.header-padding {
    padding-top: 125px !important;
}

.title {
    font-size: 1.9em;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
}

.subtitle {
    font-size: 1em;
    font-weight: 400 !important;
}

.title-section {
    background-image: url("../../assets/bg-concert.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
}

.section-text {
    line-height: 1.75em;
    margin-top: 0.5em;
}

.cta.btn {
    background-color: #EA8585;
    color: white;
    font-weight: 500;
    font-size: 1.15em;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    border-radius: 10px;
    height: auto;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.cta.btn:hover {
    background-color: #B36666;
    color: white;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.cta.btn:active {
    background-color: #E68383;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.tickets-img {
    height: 350px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

/* QR Animation */
#red-bar {
    animation: moveUpAndDown;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveUpAndDown {
    from {
        transform: translateY(-40px) 
    }

    to {
        transform: translateY(40px)
    }
}

/* End QR Animation */

/* Social Media animation */
#social_media {
    overflow: visible;
}

#facebook {
    animation-delay: 2s !important;
    animation: enlargeTopRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#twitter {
    animation-delay: 4s !important;
    animation: enlargeCenterRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#insta {
    animation: enlargeBottomRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#horn {
    animation: horn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin: -20px center;
}

@keyframes enlargeTopRight {

    0%,
    25% {
        transform: translateX(10px) translateY(-10px)
    }

    25%,
    100% {
        transform: translateX(0) translateY(-0)
    }
}

@keyframes enlargeCenterRight {

    0%,
    25% {
        transform: translateX(10px)
    }

    25%,
    100% {
        transform: translateX(0)
    }
}

@keyframes enlargeBottomRight {

    0%,
    25% {
        transform: translateX(10px) translateY(10px)
    }

    25%,
    100% {
        transform: translateX(0) translateY(-0)
    }
}

@keyframes horn {
    0%, 10% { transform: scale(1.05)}
    10%, 20% { transform: scale(1)}
    30%, 40% { transform: scale(1.05)}
    40%, 50% { transform: scale(1)}
}

/* End Social Media animation */

/* Breakpoints */
/* md-breakpoint */
@media (min-width: 765px) {
    .header-padding.section-padding {
        padding-top: 175px !important;
        padding-bottom: 100px !important
    }

    .title-section {
        min-height: 50vh;
    }

    .title {
        font-size: 3.5em
    }

    .subtitle {
        font-size: 1.35em !important;
        font-weight: 400;
    }

    .svg-container {
        height: 100px
    }

    .cta.btn {
        font-size: 1.25em;
    }
}