<div class="container-fluid p-0">
    <div class="row mnh-100vh no-gutters">
        <div class="col">

            <!-- Title section -->
            <div class="row no-gutters title-section w header-padding section-padding pb-0  ">
                <div class="col">
                    <div class="container px-3 px-md-0 h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-12 text-center align-self-center">
                                <h1 class="title m-0">Tickets verkopen voor je event was nog nooit zo makkelijk</h1>
                                <a routerLink="/register" class="cta btn mt-4 mb-0 my-md-5">Evenement aanmaken</a>
                            </div>
                            <div class="col-12 align-self-end text-center justify-content-center">
                                <app-chevron text="Meer info"></app-chevron>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End title section -->

            <!-- Title banner section -->
            <div class="row no-gutters bg-blue w section-padding justify-content-center">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters align-content-center banner">
                            <div class="col-auto">
                                <p class="w text-center m-0">Van klimbos tot paintbal. Van kerstmarkt tot paasfeest.
                                    Tickevents biedt altijd 1 euro servicekosten en support op maat, ongeacht je
                                    evenement</p>
                            </div>
                            <div class="col-auto d-inline-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End title banner section -->

            <!-- First info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Event Setup</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 1: Meld je evenement aan op het platform
                                        </h2>
                                    </div>
                                    <div class="col-12 blue">
                                        <p>Maak snel en gemakkelijk jouw evenement aan met het Tickevents systeem. Vul
                                            hierbij de nodige informatie in en bepaal wat voor soort tickets je nodig
                                            hebt, zoals Early Bird of VIP tickets.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 text-center text-md-right">
                                <img src="../../assets/dancing.svg" alt="tickets" class="tickets-img-2 px-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End first info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row">
                            <div class="col-12 col-md-5 order-2">
                                <div class="row align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Evenement promoten</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 2: Promoot en verkoop tickets voor je
                                            evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue">
                                        <p>Promoot jouw evenement om zoveel mogelijk tickets te verkopen! Tickevents
                                            staat te springen om je hiermee te helpen. Je kan altijd contact met ons
                                            opnemen voor vragen of suggesties.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 text-center text-md-right order-1">
                                <img src="../../assets/social-media.svg" alt="social-media" class="tickets-img-2 px-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Toegang regelen</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 3: Scan de tickets aan de deur
                                        </h2>
                                    </div>
                                    <div class="col-12 blue">
                                        <p>Promoot jouw evenement om zoveel mogelijk tickets te verkopen! Tickevents
                                            staat te springen om je hiermee te helpen. Je kan altijd contact met ons
                                            opnemen voor vragen of suggesties.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 text-center text-md-right">
                                <img src="../../assets/qr.svg" alt="qr" class="tickets-img-2 px-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row">
                            <div class="col-12 col-md-5 order-2">
                                <div class="row align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Data analyseren</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 4: Analyseer het verloop van je evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue">
                                        <p>Met de datainzichten van het adminpanel heb jij als organisator een compleet
                                            beeld van de kaartverkoop over jouw evenement. Informatie over bezoekers, de
                                            meest verkochte tickets en het aantal refunds zijn hier terug te vinden</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 text-center text-md-right order-1">
                                <img src="../../assets/monitor.svg" alt="monitor" class="tickets-img-2 px-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->


        </div>
    </div>
</div>