<div class="container-fluid p-0">
    <div class="row mnh-100vh no-gutters">
        <div class="col">

            <!-- Title section -->
            <div class="row no-gutters title-section w header-padding section-padding pb-0  ">
                <div class="col">
                    <div class="container px-3 px-md-0 h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-12 align-self-center">
                                <h1 class="title m-0">TICKETS VERKOPEN VOOR JE EVENEMENT WAS NOG NOOIT ZO MAKKELIJK</h1>
                            </div>
                            <div class="col-12 col-md-8 mt-3">
                                <p class="w m-0 subtitle">Met het Tickevents systeem kan je zonder moeite de toegang tot
                                    je event regelen. Meld je evenement aan, promoot je event, scan de verkochte
                                    tickets, en klaar!</p>
                            </div>
                            <div class="col-12 mt-4 mb-0 mt-md-5">
                                <a routerLink="/register" class="cta btn">Evenement aanmaken</a>
                            </div>
                            <div class="col-12 align-self-end text-center justify-content-center d-md-none">
                                <app-chevron text="Meer info"></app-chevron>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End title section -->

            <!-- First info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-5">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Event Setup</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 1: Meld je evenement aan op het platform
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Maak snel en gemakkelijk jouw evenement aan met het Tickevents systeem. Vul
                                            hierbij de nodige informatie in en bepaal wat voor soort tickets je nodig
                                            hebt, zoals Early Bird of VIP tickets. Ook kan je hier je eigen style geven
                                            aan jouw tickets.</p>
                                        <a routerLink="/register" class="cta btn">Evenement aanmaken</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7  h-100 text-md-right">
                                <img src="../../assets/dancing.svg" alt="tickets"
                                    class="tickets-img tickets-img--right px-3  px-md-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End first info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-5 order-md-2">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Evenement promoten</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 2: Promoot en verkoop tickets voor je
                                            evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Promoot jouw evenement om zoveel mogelijk tickets te verkopen! Tickevents
                                            staat te springen om je hiermee te helpen. Je kan altijd contact met ons
                                            opnemen voor vragen of suggesties.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 order-md-1">
                                <div class="row no-gutters h-100 justify-content-center justify-content-md-start">
                                    <div class="col-auto">
                                        <svg id="social_media" data-name="social media"
                                            xmlns="http://www.w3.org/2000/svg" height="330px" width="100%"
                                            viewBox="0 0 350 350">
                                            <g id="facebook">
                                                <path
                                                    d="M350,42.24A42.24,42.24,0,1,1,307.76,0,42.24,42.24,0,0,1,350,42.24Z"
                                                    style="fill:#dfecf6" />
                                                <path
                                                    d="M331.9,36.21v-3a15.09,15.09,0,0,0-30.18,0v9.05H289.66V54.31h12.06V66.38h12.07V54.31h12.07V42.24H313.79V33.19a3,3,0,0,1,6,0v3Z"
                                                    style="fill:#1e70ae" />
                                            </g>
                                            <path d="M199.14,169h12.07V181H199.14Z" style="fill:#efa0a0" />
                                            <path d="M223.28,169h12.06V181H223.28Z" style="fill:#efa0a0" />
                                            <path
                                                d="M219,115.37l5.38,10.79a124.29,124.29,0,0,0,11.13-6.27l-6.45-10.2Q224.16,112.78,219,115.37Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M197.4,123.56l3.13,11.66a126.54,126.54,0,0,0,12.15-3.93L208.4,120C204.82,121.36,201.12,122.56,197.4,123.56Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M255.58,104.15l-8.36-8.7a114.49,114.49,0,0,1-8.73,7.58l7.45,9.49A123.47,123.47,0,0,0,255.58,104.15Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M271.62,85.42l.46-.66-9.87-6.92-.47.68c-2.06,2.93-4.28,5.81-6.6,8.53l9.2,7.85C266.9,91.85,269.35,88.67,271.62,85.42Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M197.4,226.44c3.72,1,7.42,2.2,11,3.55l4.28-11.28c-4-1.5-8-2.82-12.15-3.93Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M219,234.63q5.16,2.6,10.06,5.68l6.45-10.2c-3.62-2.27-7.34-4.39-11.13-6.27Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M245.94,237.48,238.49,247a114.49,114.49,0,0,1,8.73,7.58l8.36-8.7A123.47,123.47,0,0,0,245.94,237.48Z"
                                                style="fill:#efa0a0" />
                                            <path
                                                d="M264.31,255.14,255.12,263c2.32,2.72,4.53,5.6,6.6,8.54l.47.67,9.87-6.94-.46-.65A109.75,109.75,0,0,0,264.31,255.14Z"
                                                style="fill:#efa0a0" />
                                            <g id="twitter">
                                                <path
                                                    d="M350,175a48.28,48.28,0,1,1-48.28-48.28A48.28,48.28,0,0,1,350,175Z"
                                                    style="fill:#c0f5f9" />
                                                <path
                                                    d="M310.78,156.9a9.06,9.06,0,0,0-9.06,9v5.32a6,6,0,0,1-8.73,5.39L277.59,169l2.75,11a24.63,24.63,0,0,0,16.1,17.38,16.76,16.76,0,0,0,10.57,0l1.37-.46A16.75,16.75,0,0,0,319.83,181V166A9,9,0,0,0,310.78,156.9Z"
                                                    style="fill:#1e70ae" />
                                                <path d="M326.87,168l-7.54,4-2-11.06Z" style="fill:#1e70ae" />
                                            </g>
                                            <g id="insta">
                                                <path
                                                    d="M337.93,350H283.62a12.07,12.07,0,0,1-12.07-12.07V313.79L350,312.28v25.65A12.06,12.06,0,0,1,337.93,350Z"
                                                    style="fill:#efa0a0" />
                                                <path
                                                    d="M283.62,277.59h54.31A12.06,12.06,0,0,1,350,289.66v24.13H271.55V289.66A12.07,12.07,0,0,1,283.62,277.59Z"
                                                    style="fill:#ebebeb" />
                                                <path
                                                    d="M328.88,313.79a18.11,18.11,0,1,1-18.1-18.1A18.11,18.11,0,0,1,328.88,313.79Z"
                                                    style="fill:#dbdbdb" />
                                                <path
                                                    d="M322.84,313.79a12.07,12.07,0,1,1-12.06-12.07A12.06,12.06,0,0,1,322.84,313.79Z"
                                                    style="fill:#eaeae8" />
                                            </g>
                                            <path d="M78.45,205.17v54.31a12.07,12.07,0,0,1-24.14,0V205.17Z"
                                                style="fill:#1e70ae" />
                                            <rect x="36.21" y="138.79" width="60.34" height="72.41"
                                                style="fill:#1e70ae" />
                                            <path
                                                d="M36.21,205.17H24.14A24.14,24.14,0,0,1,0,181V169a24.14,24.14,0,0,1,24.14-24.14H36.21Z"
                                                style="fill:#ebebeb" />
                                            <g id="horn">
                                                <path
                                                    d="M181,235.34H156.9l-10.32-7.72a105.85,105.85,0,0,0-30.22-15.84l-19.81-6.61V144.83l2.54-.42a106.65,106.65,0,0,0,57.81-29.75H181Z"
                                                    style="fill:#ebebeb" />
                                                <path
                                                    d="M181,108.62V241.38a12.07,12.07,0,1,1-24.13,0V108.62a12.07,12.07,0,1,1,24.13,0Z"
                                                    style="fill:#1e70ae" />
                                            </g>
                                            <path d="M58.84,156.9H70.91V169H58.84Z" style="fill:#f7ba61" />
                                            <path d="M58.84,181H70.91V193.1H58.84Z" style="fill:#aae5c8" />
                                            <rect x="54.31" y="211.21" width="24.14" height="12.07"
                                                style="fill:#154e7a" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-5">
                                <div class="row  no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Toegang regelen</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 3: Scan de tickets aan de deur
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Promoot jouw evenement om zoveel mogelijk tickets te verkopen! Tickevents
                                            staat te springen om je hiermee te helpen. Je kan altijd contact met ons
                                            opnemen voor vragen of suggesties.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="row no-gutters h-100 justify-content-center justify-content-md-end">
                                    <div class="col-auto">
                                        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
                                            height="350" viewBox="0 0 256 464">
                                            <title>qr</title>
                                            <path
                                                d="M16,0H240a16,16,0,0,1,16,16V448a16,16,0,0,1-16,16H16A16,16,0,0,1,0,448V16A16,16,0,0,1,16,0Z"
                                                style="fill:#dfecf6" />
                                            <circle cx="128" cy="184" r="96" style="fill:#dfecf6" />
                                            <path
                                                d="M80,0h96a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16H80A16,16,0,0,1,64,16h0A16,16,0,0,1,80,0Z"
                                                style="fill:#afd0e9" />
                                            <path d="M112,272h32v56H112Z" style="fill:#cbcbcb" />
                                            <path
                                                d="M144,294.6V278.4a86.08,86.08,0,0,1-32,0v16.2A90.54,90.54,0,0,0,144,294.6Z"
                                                style="fill:#b9b9b9" />
                                            <path
                                                d="M184,307.1a8,8,0,0,1-8-8,7.84,7.84,0,0,1,4.5-7.2A120.56,120.56,0,0,0,203,277.6a8,8,0,0,1,10.1,12.5,141.07,141.07,0,0,1-25.5,16.2A7.84,7.84,0,0,1,184,307.1Z"
                                                style="fill:#afd0e9" />
                                            <path d="M120,176H80V136h40ZM96,160h8v-8H96Z" style="fill:#ea8585" />
                                            <path d="M176,176H136V136h40Zm-24-16h8v-8h-8Z" style="fill:#ea8585" />
                                            <path d="M120,232H80V192h40ZM96,216h8v-8H96Z" style="fill:#ea8585" />
                                            <path d="M160,192h24v16H160Z" style="fill:#ea8585" />
                                            <path d="M168,216h16v16H168Z" style="fill:#ea8585" />
                                            <path d="M152,216V192H136v40h24V216Z" style="fill:#ea8585" />
                                            <path d="M128,392a16,16,0,0,1-16-16V328h32v48A16,16,0,0,1,128,392Z"
                                                style="fill:#217aac" />
                                            <rect id="red-bar" x="32.8" y="179.8" width="188.3" height="8.5"
                                                style="fill:#fc0000" />
                                            <path
                                                d="M128,288A104,104,0,1,1,232,184,104,104,0,0,1,128,288Zm0-192a88,88,0,1,0,88,88A88,88,0,0,0,128,96Z"
                                                style="fill:#217aac" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->

            <!-- Second info section -->
            <div class="row no-gutters section-padding">
                <div class="col">
                    <div class="container px-3 px-md-0">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-5 order-md-2">
                                <div class="row no-gutters align-content-center h-100">
                                    <div class="col-12">
                                        <h5 class="m-0 pink">Data analyseren</h5>
                                    </div>
                                    <div class="col-12">
                                        <h2 class="section-title blue">Stap 4: Analyseer het verloop van je evenement
                                        </h2>
                                    </div>
                                    <div class="col-12 blue section-text">
                                        <p>Met de datainzichten van het adminpanel heb jij als organisator een compleet
                                            beeld van de kaartverkoop over jouw evenement. Informatie over bezoekers, de
                                            meest verkochte tickets en het aantal refunds zijn hier terug te vinden</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 order-md-1">
                                <div class="row no-gutters h-100 justify-content-center justify-content-md-start">
                                    <div class="col-auto">
                                        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg"
                                            height="350" viewBox="0 0 464 464">
                                            <path
                                                d="M328,456v8H184v-8l4.8-6.4A96,96,0,0,0,208,392v-8h96v8a96,96,0,0,0,19.2,57.6Z"
                                                transform="translate(-24 -24)" style="fill:#e4e4e2" />
                                            <path
                                                d="M328,456H296l-4.8-6.4A96,96,0,0,1,272,392h32a96,96,0,0,0,19.2,57.6Z"
                                                transform="translate(-24 -24)" style="fill:#dbdbdb" />
                                            <path d="M176,456H336a8,8,0,0,1,8,8v24H168V464A8,8,0,0,1,176,456Z"
                                                transform="translate(-24 -24)" style="fill:#eaeae8" />
                                            <path d="M472,392H40a16,16,0,0,1-16-16V336H488v40A16,16,0,0,1,472,392Z"
                                                transform="translate(-24 -24)" style="fill:#eaeae8" />
                                            <path d="M24,344V72A16,16,0,0,1,40,56H472a16,16,0,0,1,16,16V344Z"
                                                transform="translate(-24 -24)" style="fill:#efa0a0" />
                                            <path
                                                d="M256,24A176,176,0,0,0,108.47,296h40.21A144,144,0,0,1,361.74,102.26l22.64-22.64A175.5,175.5,0,0,0,256,24Z"
                                                transform="translate(-24 -24)" style="fill:#1e70ae" />
                                            <path
                                                d="M384.38,79.62l-22.64,22.64A144,144,0,0,1,363.32,296h40.21A176,176,0,0,0,384.38,79.62Z"
                                                transform="translate(-24 -24)" style="fill:#154e7a" />
                                            <path
                                                d="M400,200a143.47,143.47,0,0,1-36.67,96H148.67A144,144,0,1,1,400,200Z"
                                                transform="translate(-24 -24)" style="fill:#dbdbdb" />
                                            <path
                                                d="M384,200a127.66,127.66,0,0,1-43.34,96H171.34A128,128,0,1,1,384,200Z"
                                                transform="translate(-24 -24)" style="fill:#fff" />
                                            <path
                                                d="M347.08,139.55l-50.17,55.18L270.3,224l-28.44-32,27.4-24.91,55.19-50.17Z"
                                                transform="translate(-24 -24)" style="fill:#1e70ae" />
                                            <path
                                                d="M296.91,194.73,270.3,224l-28.44-32,27.4-24.91a43.06,43.06,0,0,1,27.65,27.64Z"
                                                transform="translate(-24 -24)" style="fill:#154e7a" />
                                            <circle cx="232" cy="184" r="32" style="fill:#dbdbdb" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second info section -->


        </div>
    </div>
</div>