/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif !important;
}

.btn {
    background-color: #2F9494;
    color: white;
    font-weight: 500;
    font-size: 18px;
    -webkit-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    border-radius: 10px;
    height: 45px;
    padding: 8px;
    -webkit-box-shadow: 0 5px #68BBBB;
            box-shadow: 0 5px #68BBBB;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    background-color: #217F7F;
    color: white;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.btn:active {
    background-color: #467261;
    -webkit-box-shadow: 0 3px #294F53;
            box-shadow: 0 3px #294F53;
    color: white;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-title {
    font-family: 'Alata', sans-serif !important;
    font-weight: 500;
}

.section-text {
    line-height: 1.75em;
    margin-top: 0.5em;
}

@media (min-width: 765px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}